@import '../../.mainStyle.scss';
.myProfile{
    padding:30px 20px;
    background-color: #eee;
    
.profileTitle{
    text-align: center;
    font-size: 100px;
    font-weight: 700;

}

.informationContainer{

    display: flex;
    height: fit-content;
    margin-top: 20px;
    .informationWrapper {
        width: 50%;
        height: 100%;
    }
    .information{
        background-color: #fff;
        position: relative;
        .editIcon{
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            color: #eee;
            font-size: 30px;

        }
        .userInformation{
            padding: 10px 0;
            text-align: center;
            .feild{
                display: flex;
                justify-content: center;
                align-content: center;
                font-size: 30px;
                margin: 10px 0;
                border-bottom: 4px solid #222;
                width: 100%;
                .icons{
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                    color: #999;
                }

            }
            .value{
                color: #FFD600;
                margin-left: 10px;
            }
            .userCountry{
                font-size:30px;
                margin: 10px 0;
            }
            .imageWrapper{
                img{
                    width: 80px;
                    height: 50px;
                }
            }
        }
        
        width: 90%;
        height: fit-content;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        @include shadowMainStyle ;

        margin: auto;
        .InformationHeader{
            color: $gold;
            text-align: center;
            background-color: $qatar;
            font-size: 40px;
            font-weight: 600;
            padding: 5px 10px;
            border-bottom: 4px solid #161616;
            

        }

    }
   
    .expectInformationWrapper{
        background-color: #aaa;
    }

    
    
    
}
@media screen  and (max-width : 960px){

    .profileTitle{
        text-align: center;
        font-size: 100px;
        font-weight: 700;
    
    }
    
   
    .informationContainer{
        height: 300px;
        margin-top: 20px;
        .informationWrapper {
            width: 50%;
            height: 100%;
            .InformationHeader{
                font-size: 25px;
                font-weight: 600;
                padding: 5px 10px;
               
            }
        }
        .information{
            background-color: #fff;
            position: relative;
            .editIcon{
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
                color: #eee;
                font-size: 25px;
    
            }
            .userInformation{
                padding: 10px 0;
                text-align: center;
                .feild{
                  
                    font-size: 25px;
                    .icons{
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                        color: #999;
                    }
    
                }
                .value{
                    color: #FFD600;
                    margin-left: 10px;
                }
                .userCountry{
                    font-size:30px;
                    margin: 10px 0;
                }
                .imageWrapper{
                    img{
                        width: 80px;
                        height: 50px;
                    }
                }
            }
        }
    }    
    

}

/* Profile Expects Section */

.userExpectContainer{
   
    background-color: #fff;
    @include shadowMainStyle;   
    width: 90%;
    margin: 40px auto 0;
    height: fit-content;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    .profileTitle{
        background-color: $qatar;
        color: #FFD600;
    }
    &.dark{
        background-color: #373737;
    }
    .expects-Container{
        padding: 20px;
        display:grid;
        grid-template-columns: repeat(3,33.3%);

    }


}
&.dark{
    background-color: #444;
    .profileTitle{
        color: #fff;
    }
    .information{
        background-color: #373737;
        .InformationHeader{
            border-bottom: 4px solid #fff;
        }
        .feild{
            border-bottom: 4px solid #fff;
        }
        
    }
}

}
#email{
    font-size: 20px;
    margin: auto 0 auto 5px;
    
}
#verifiy{
    color: #0f0;
    font-weight: 600;
}