.home{
    height: fit-content;
    background-color: #E5E5E5;
    &.dark{
        background-color: #444;
    }
}
.pageContainer{
    margin: auto;
    display: flex;
   
  
    .column{
        display: flex;
        flex-direction: column;
        height: fit-content;
        &.fisrtColumn{
            flex: 7;
        }
        &.secondColumn{
            flex: 5;
        }
    }
}


@media screen and (max-width:690px) {
    
        .pageContainer{
            padding: 30px 0px; 
            display: flex;
            flex-direction: column;
           
   
    }
}

