$gold : #FFD600;
$borderRaduis:20px;

@mixin shadowMainNews {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
}