@import '../.main.scss';
@import '../../../.mainStyle.scss';
.dontMissList{
    width: 100%;
    height: fit-content;
    background-color: #eee;
    padding-bottom: 10px ;
    &.dark{
        @include dark2;
    }
    border-radius: $borderRaduis;
    margin-left: 30px;
    .titleWrapper{
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
        padding-top: 10px;
        text-align: center;
        background-color: #222;
        border-bottom:4px solid #111 ;
        &.dark{
            @include dark1
        }
        .title{
            color: #FF004C;
            font-size:60px; 
        }

    }
}

@media screen and (max-width:890px) {
    .dontMissList{
        width: 90%;
        border-radius: $borderRaduis;
        margin: auto;
       
    }
    
}