@import '../.main.scss';
@import '../../../.mainStyle.scss';
.dontMissList{
    width: 90%;
    height: fit-content;
    background-color: #fff;
    padding-bottom: 10px ;
    margin: 20px auto ;
    @include shadowMainNews;
    &.dark{
        @include dark2;
    }
    .matchCard{
        box-shadow: none;
        .matchCardCounter{
            padding: 5px;
        }
        .matchCardStart{
           
        }
    }
    border-radius: $borderRaduis;
    .titleWrapper{
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
        padding-top: 10px;
        text-align: center;
        background-color: #222;
        border-bottom:4px solid #111 ;
        
        &.dark{
            @include dark1;
            .title{
                color: $betiured;
            }
        }
        .title{
            color: $gold;
            font-size:60px; 
        }

    }
}

@media screen and (max-width:890px) {
    .dontMissList{
        width: 90%;
        border-radius: $borderRaduis;
        margin: auto;
       
    }
    
}