@import '../../../.mainStyle.scss';

.phoneContainer{
    display: grid;
    grid-template-columns: 100%;
    padding: 10px 0;
    border-radius:10px;
    background: #dddddd;
    @include shadowMainStyle;
    
    &.dark{
        background-color: #171717;
        
    }
    .secondCountry{
        text-align: right;
    }
    
}


.expectPhone{
    width: 95%;
    margin: 10px auto ;
    background-color: #eeeeee;
    height: fit-content;
    border-radius: 10px;
    &.expectComponent{
        opacity: 0;
        transform: scale(0);
    }
    &.showMatchCard{
        animation : showmatchCard 500ms forwards ;
    }
    .circle{
        border: 2px solid #FFD600;
        font-size: 18px;
        font-weight: 600;
        border-radius: 50%;
        padding: 5px;
        color: #272727;
    }
    .wingesContainer{
        position: relative;
        z-index: -1;
        .squareStyle{
            width: 100px;
            height : 100px;
            position: absolute;
            z-index: -1;
            top: 15%;
            transform: rotate(45deg);
            border-radius: 15px;
            &.left{
                left: -4px;
                background-color: #138dff;
            }
            &.right{
                background-color: #fb4931;
                right: -4px;
            }
        }
    }
    .upperExpectWrapper{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-color: #b0b0b0;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        height: 60px;
        border-bottom: 2px solid #fff;
        .countryFlages{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
        .countryWrapper{
            display: flex;
            position: relative;
            z-index: 20;
            width: 33%;
            a{
                width: 100%;
            }
            .dimond{
                position: absolute;
                z-index: 20;
                width: 50px;
                height: 50px;
                background-color: #e1e1e1;
                transform: rotate(45deg);
                z-index: 20;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 5px;
                &.transparent{
                    background-color: #b0b0b0;
                    
                }
                .dimondContent{
                    transform: rotate(-45deg);
                    color: #111111;
                    font-size: 28px;
                    font-weight: 600 ;
                }
                
            }
            .firstDimond{
                right: -25px;
                border-bottom: 4px solid #FFD600;
                border-left: 4px solid #FFD600;
                border-radius: 12px;
            }
            .secondDimond{
                border-radius: 12px;
                border-top: 4px solid #FFD600;
                border-right: 4px solid #FFD600;
                left: -25px;
            }
        }
        .middle{
            position: relative;

            z-index: 25;
            color: #171717;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 25px;
            .matchCardCounter{
                font-size: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            
        }
    }
    .points-wrapper{ 
        background-color: #f5ea89;
        color: #272727;
        font-weight: 600;
        text-align: center;
        padding: 5px 0;
        font-size: 24px;

    }
    .ExpectPhoneWrap{
        padding: 5px;
        display: flex;
        .button-wrapper{
            display: flex;

        }
        button{
            width:fit-content ;
            padding: 2px 15px ;
            background-color: #007bf1;
            color: #fff ;
            margin: auto;
            font-weight: 600;
            font-size:28px;
            &.danger{
                background-color: rgb(194, 0, 39);

            }

        }
    }
    .countryNameWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        border-bottom: 2px solid #171717;
        .checkExpected{
            padding: 5px;
            background-color: rgb(0, 161, 0);
            border-radius: 10px;
            color: #fff;
            font-size: 22px;
            font-weight: 600;
            margin: auto 0;
        }
        .countryName{
            width: 120px;
            color: #111;
            text-align: center;
            font-size: 26px;
            padding: 5px;
            font-weight: 600;
        }
    }
    &.dark{
            position: relative;
            border: none;
            background-color: #272727 ;
            .circle{
                border-radius: 50%;
                color: #e1e1e1;
            }
            .upperExpectWrapper{
                background-color: hsl(0, 0%, 15%);
                .countryWrapper{
                    
                    .dimond{
                        background-color: #373737;
                        .dimondContent{
                            color: #fff;
                        }
                        &.transparent{
                            background-color: #272727; 
                        }
                    }
                    .firstDimond{
                        border-bottom: 4px solid #fee504;
                        border-left: 4px solid #fee504;
                    }
                    .secondDimond{
                        border-top: 4px solid #fee504;
                        border-right: 4px solid #fee504;
                    }
                }
                .middle{
                    color: #fff;
                    font-size: 20px;
                }
            }
             .points-wrapper{ 
                background-color: #0f171b;
                border-bottom: 1px solid #FFD600;
                color: #dddddd;
                font-weight: 600;
                text-align: center;
                padding: 5px 0;
                font-size: 24px;
        
            }
            .countryNameWrapper{
                background-color: #373737;
                .countryName{
                    color: #fff;
                }
    
            }

        }
    

}

.deleteContainer{
    width: 90%;
    height: fit-content;
    padding: 10px;
    background-color: #373737;
    border-radius:10px;
    text-align: center;
    .title{
        color:rgb(194, 0, 39) ;
    }
    .danger{
        margin: 2px auto;
        padding: 5px;
        font-size: 25px;
    }
    .dangerWord{
        color: rgb(194, 0, 39);
        font-weight: 600;
        font-size: 20px;
    }
}
.danger{
    background-color: rgb(194, 0, 39);

}

.match{
    .middle{
        color: #fff;
        font-size: 20px;
        .timeLeftLabel{
            font-size: 20px !important;
            color: #FFD600;

        }
        .timeLeft{
            font-size: 15px !important;
        }
    }
    .countryNameWrapper{
        align-items: center;
       .vs{
        font-size: 35px;
        color: #FFD600;
       }
    
    }
    &.dark{
       .matchCard-container{
           background-color: #d5d5d521;
       }
       .timeLeftLabel{
            font-size: 25px;
            color: #FFD600;
        
    }
        .middle{
            color: #fff;
          
        }

        
        background-color: #171717;
        .expectPhone{
            background-color: #272727;
         
            .upperExpectWrapper{
                background-color: #272727;
                
                .countryWrapper{
                  
                    .dimond{
                        background-color: #171717;
                        .dimondContent{
                            color: #fff;
                        }
                        &.transparent{
                            background-color: #272727;
                            
                        }
                    }
                    .firstDimond{
                        border-bottom: 4px solid #FFD600;
                        border-left: 4px solid #FFD600;
                    }
                    .secondDimond{
                        border-top: 4px solid #FFD600;
                        border-right: 4px solid #FFD600;
                    }
        
                }
                
            }

        }
    }
}

@media screen and (max-width : 375px ) {
    .expectPhone{
        width: 100%;
        .countryWrapper{
            .secondDimond{
                left : -30px !important;
            }
            .firstDimond{
                right : -30px !important;
        }
        
    }
    .middle{
        .matchCardCounter{
            display: flex;
            flex-direction: column;
        }
        .timeLeftLabel{
            font-size: 25px;
            color: #FFD600;
            
        }
        .timeLeft{
            font-size: 16px;
        }
    }
    .countryNameWrapper{
        .countryName{
            font-size: 22px;
        }
    }
    .ExpectPhoneWrap{
        
        button{
            padding: 2px 5px ;
            color: #ffffff ;
            margin: auto;
            font-weight: 600;
            font-size:25px;
            &.danger{
                background-color: rgb(194, 0, 39);
                
            }
            
        }
    }
}
}

@keyframes showmatchCard {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}