@import '../../.mainStyle.scss';

.expectComp{
       
    .matchcardHeader{
        padding: 10px;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0);   
        &.expectCard{
            background: linear-gradient(90deg, rgb(1, 159, 53) 0%, rgba(0, 189, 91, 0.711) 50%);  
        }
        .result{
            font-size: 33px;
            font-weight: 600;
        }
        .clashHolder{
            border-radius: 50%;
            border: 2px solid #ffd600;
            width: 40px;
            height:40px ;
            font-size: 23px;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
    .yourExpect{
        border-top: 2px solid $gold;
        padding: 5px;
        text-align: center;
    }
       
        .matchCardStart{
            .matchCardbutton{
                font-size: 24px;
                width: 150px;
                background: linear-gradient(90deg, rgb(1, 159, 53) 0%, rgb(24, 209, 0) 50%);
                color: #fff;
                font-weight: 600;
                border: #fff;
                border-radius: 5px;
                &:hover{
                    background: linear-gradient(90deg, rgb(1, 121, 41) 0%, rgb(15, 132, 0) 50%);
                
                }
            
            }
        }
}