@import '../../.mainStyle.scss';

.expectComp{
       
    .matchcardHeader{
        padding: 10px;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0);   
        &.expectCard{
            background: linear-gradient(90deg, #0282ce8a 0%, #003d86 100%);  
            position: relative;
            overflow: hidden;
           
        
        }
        .result{
            font-size: 33px;
            font-weight: 600;
        }
        .clashHolder{
            border-radius: 50%;
            border: 2px solid #ffd600;
            width: 40px;
            height:40px ;
            font-size: 23px;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
    .yourExpect{
       .ExpectionsContent{
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            font-weight: 700;
            font-size: 30px;
            color: #eee;
        }
       }
        h3{
            color: #0283ce ;
            border-bottom: 2px solid #ddd;
            margin-bottom: 5px;
            font-weight: 400;
        }
        .userExpect{
            color: #000
        }
        border-top: 2px solid $gold;
        padding: 5px;
        color: #373737;
        text-align: center;
        font-size: 30px;
        
        &.dark{
            color: #ddd;
            .userExpect{
                color: #fff;
            }
        }
    }
       
        .matchCardStart{
            .matchCardbutton{
                font-size: 24px;
                width: fit-content;
                background:linear-gradient(90deg, #0282ce8a 0%, #003d86 100%);
                color: #fff;
                font-weight: 600;
                border: #fff;
                border-radius: 5px;
                padding: 5px;
                margin: 0 5px;
                &:hover{
                    border: none;
                    color: #fff;
                }
            }
            .deleteExpect{
                margin-right: 5px;
                background-color: #c00;
                padding: 5px;
                &:hover{
                    background-color: #a00;
                }

            }
        }
        .matchPoints{
            font-size: 24px;
            text-align: end;
            padding: 10px 5px;
        }
}
@media screen and (max-width:960px) {
    .expectComp{
        .yourExpect{
            font-size: 27px;
        }
    }
}
@media screen and (max-width:760px) {
    .expectComp{
        .yourExpect{
            font-size: 24px;
        }
    }
}