.teamPage{
    min-height: fit-content;
    height: fit-content;
    background: linear-gradient(180deg, #eee 1%, #ccc 93%);
    &.dark{
        background: linear-gradient(180deg, #373737 1%, #272727 93%);
     
    }

}