$color:#eee;
$dark_color : #111; 
.dark{
    background-color: #222;
    color: #eee;
    transition: 150ms;
}
.darker{
    background-color: #111;
    transition: 150ms;
}
.white{
    background-color: #eee;
    color: #222;
    transition: 150ms;
}