

@import './global'  ;
@import '../../.mainStyle.scss';
@mixin flexAlign() { // like function in js
    display: flex;
    align-items: center;
}
.navbar{
    @include flexAlign();
    height: 60px;
    overflow-y: hidden;
    background-color: #eee;
    border-bottom: 5px solid #222;
    transition: 150ms;
    width: 100%;
    font-family: 'Ubuntu Mono', monospace;
    

.navbarLink{
    text-decoration: none;
        
    }
    
    .navbarContainer{
        width: 100%;
        height: 100%;
        @include flexAlign();
        justify-content: space-between;
       
        .navbarLeft{
            cursor: pointer;
            margin-left:  20px; ;
        }
        .navbarRight{
            
            padding-right: 10px;
            @include flexAlign();
            .navbarRightItem{
                font-size: 30px;
                font-weight: 600;
                margin-right: 10px ;
            }
            .navbarRightItem{
                padding:15px 5px;
                
                
                &:hover{
                    background-color: rgb(193, 0, 39);
                    color: #eee;
                }
            }
            .navbarMenu{
                cursor: pointer;
                margin-left: 20px;
                background-color: inherit;
                .imgContainer{
                    padding: 5px 0; 
                    @include flexAlign();
                    overflow: hidden;
                    .username{
                        font-size: 36px;
                        font-weight: 600;
                        max-width: 90px;
                        margin-right: 30px;
                        color: $gold;
                    }
                    .navbarProfileImg{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .navbarDropdown{
                    display: none;
                    position: relative;
                }
                &:hover  {
                   
                    .navbarDropdown{
                        color: #222;
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        right: 10px;
                        border-radius: 5px;
                        z-index: 999;
                        color: inherit;
                        width: fit-content;
                        height: fit-content;
                        font-size: 16px;
                        background-color: #eee;
                        text-align: center;
                        box-shadow: 2px 3px 87px -6px rgba(0,0,0,0.43);
                        -webkit-box-shadow: 2px 3px 87px -6px rgba(0,0,0,0.43);
                        -moz-box-shadow: 2px 3px 87px -6px rgba(0,0,0,0.43);
                          
                    }
                }
            }
        }
        
    }
    
}

.navbarLink{
    text-decoration: none;
    color: #222;
    
    
}
.selected{
    background-color: rgb(193, 0, 39);
    color: #eee;
    padding: 15px 0;
}
.circleContainer{
    width: 40px;
    height: 20px;
    background-color: #aaa;
    border-radius: 20px;
    position: relative;
    .darkModeIcons{
        width: 18px;
        height: 18px;
    }
    .circle{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #222;
        position: absolute;
        top: 0;
        transition: 300ms ease;
        
    }
}

.dropdownItem{
    padding: 5px;
    @include flexAlign();
    justify-content: center;
    //background-color: inherit;
    
    &:hover{
        background-color: rgb(193, 0, 39);
        color: #eee;
    }
}


.right{
    right: 0;
    transition:  300ms;
}


@media screen and (max-width:390px) {
    .bottomNavbarLink{
        padding: 0;
    }
    .imgContainer{
        display: none;
    }
}

@media (min-width:340px) and (max-width:680px) {
    .navbarContainer{
        display: flex;
        justify-content: center;
    }
    .navbarMenu{
        display: none;
    }
    
 }