@import '../../.mainStyle.scss';


.myexpects{
    min-height : 80vh;
    background:#d7d7d7;
    padding: 10px 20px 80px 20px;
    
    .headlineWrapper{
        padding: 20px 0 ;
        .headline{
            color: #212121;
            font-size: 70px;
            text-align: center;
            font-weight: 600;
        }
    }
    .userTotalPoints{
        margin: 10px auto;
        background-color: #a7a7a7;
        width: 180px;
        height: fit-content;
        border-radius: 10px ;
        text-align: center;
        border: 3px solid #171717;
        .text{
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            background-color: rgb(232, 232, 232);
            color: $gold ;
            font-size: 36px;
            height: 40%;
            padding: 10px;
            font-weight: 500;
            border-bottom: 3px solid #171717;
        }
        .totalPoints{
            padding: 5px;
            height: 60%; 
            color: #171717;
            font-size: 50px;
            font-weight: 600;
        }
    }
    .noContent{
        background-color: #cccccc;
        border-radius: 10px;
    }
    &.dark{
        background: linear-gradient(180deg, #171717 52%,#fff 100%);
        .headline{
            color: #eee;
        }
        .userTotalPoints{
            background-color: #171717;
            .text{
                color: $gold ;
                background-color: #373737;
            }
            .totalPoints{
                color: #fff;
            }
    
        }
        .noContent{
            background-color: #1717178a;
            color: #dddddd;
            border-radius: 10px;
            
            h2{
                color: #ffffff;
            }
            a{
                color: #ffbf00;

            }
        }
    }
    
    .flex-wrapper{
        display: flex;

        .nogrid,.expectsContainer{
            padding: 10px;
            height: 100%;
            width: 75%;
            margin: 10px ;
            border-radius: 10px; 
            background-color: #cccccc;

        }
        
        .expectsContainer{
            display: grid;
            grid-template-columns: repeat(3,33.3%);
    }
       .goldenPlayercard {
        text-align: center;
        background-color: #cccccc;
        width: 25%;
        height: fit-content;
        .playerCard-container{

            .palyerCard{
                width: 65%;
                .imgBackground{
                    .playerCardImg{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
            
        }
        .content{
            background-color: #cccccc;
            .addicon{
                border: 2px solid #272727;
                background-color: #aaaaaa;
                @include shadowMainStyle;
                &:hover{
                    background-color: #ffbf00 ;
                    color: #171717;
                }
            }
        }
        .changeGoldenbutton{
                display: none;
        }
        .show-points{
            background-color: #009900;
            &:hover{
                color: #171717;
            }
           
        }
        .informationHeader-Wrapper{
             background: linear-gradient(90deg, #fee504 75%, #373737 100%);;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 10px 0;
            h2{
                color: #373737 !important;
                font-size: 36px;
            }
           
            
        }
       } 

    }

    /* for the parent if it dark mode*/
    &.dark{
        background: linear-gradient(180deg, #373737 0%, #212121 100%);

        .headlineWrapper{
            padding: 20px 0 ;  
        }
        
        .expectsContainer,.nogrid{
            background-color: #181818;
        }
        .flex-wrapper{
            .goldenPlayercard{
                background-color: #181818;
                border-radius: 20px;
               
                .information{
                    border-radius: 20px;
                    background-color: #181818;


               }
               
            }
        }
        .goldenPlayercard{

            .content{
                background-color: #171717;
                .addicon{
                    background-color: #282828;
                    &:hover{
                        transform: scale(1.05);
                        transition: all 300ms;
                    }
                }
            }
        }
    
        
}
}

@media screen and (max-width:960px) {

    .myexpects{
        .flex-wrapper{
            .expectsContainer{
                padding: 10px;
                 height: 100%;
                 width: 70%;
                 margin: 10px auto;
                grid-template-columns: repeat(2,50%);   
            }
            .goldenPlayercard{
                height: fit-content;
            }
        }
    }
}
@media screen and (max-width:760px) {
    .myexpects{
        padding: 0px ;
        .headlineWrapper{
            background-color: #1a1a1a;
            padding : 10px ;
            
            border-bottom: 2px solid $gold;
            margin-bottom: 20px;
            .headline{
                color: #ffc021;
                font-size: 45px;
            }
        }
        .fakeContainer{
            padding: 0 10px 10px 10px;
        }
        .flex-wrapper{
            flex-direction: column;
            .expectsContainer{
                padding: 10px;
                height: 100%;
                width: 95%;
                display: grid;
                grid-template-columns: repeat(2,50%);   
            }
            .goldenPlayercard {
                width: 80%;
                margin: 10px auto 10px;
                .palyerCard{
                    .imgBackground{
                    .country-flag{
                        width: 50px;
                        height: 35px;
                    }   
                    }
                }
                .buttons-wrapper{
                    width: 60%;
                    .show-points{
                        width: 100%;
                        font-size: 36px;
                        padding: 5px 10px;
                    }
                }
            }
        }
        
    }
    .popMatchContainer{
        width: 80%; 
        .popMatchWinner{
            .winnerTitle{
                padding : 10px 0;
                font-size: 55px !important;
            }
        }
        
        .headerPopUp{
            
        .matchcardHeader{
           
            .popMatchCardCountryImg{
                width: 80px;
                height:80px;            
            }
        }
    }
    }   
}

@media screen and (max-width : 480px) {
    .flex-wrapper{
        .expectsContainer{
            padding: 10px;
            height: 100%;
            width: 95%;
            display: grid;
            grid-template-columns: repeat(2,50%);   
            .phoneContainer{
                margin-bottom: 20px;

            }
        }
        .goldenPlayercard {
            width: 90%;
            margin: 10px auto 10px;
            .palyerCard{
                width: 90% !important;
                .imgBackground{
                .country-flag{
                    width: 50px;
                    height: 35px;
                }   
                }
            }
            .buttons-wrapper{
                width: 80% !important;
                .show-points{
                    width: 100% ;
                    font-size: 30px !important;
                    padding: 5px 10px;
                }
            }
        }
    }
    
    
}

@media (min-width : 250px) and (max-width:339px) {
    .myexpects{
        .expectsContainer{
            padding: 10px;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2,50%);   
        }
        .headlineWrapper{
            .headline{
                font-size: 55px;
                color: $gold;
                font-weight: 400;
            }
        }
    }  
}

.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
.round-filter-container{
    margin: 0 10px ;
    select{
        width: 200px;
        height:40px;
        font-size: 22px;
        text-align: center;
        background-color: #555;
        color: #fff;
        border-radius: 5px;
        margin: 0 5px ;
    }
}
label{
    display: flex;
    align-items: center;

}
.dateContainer{
    display: flex;
    align-items: center;
    justify-content:end;
svg{
    width: 50px;
    height: 40px;
}

input[type="date"]{
    background-color: #222;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #555;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px ;
    color: #eee;
    font-size: 24px;
    text-align: center;
    z-index: 88;
    
}
}


}