@import '../../.mainStyle.scss';

.myexpects{
    height: fit-content;
    background:#eee;
    padding: 10px;
    .headlineWrapper{
        padding: 20px 0 ;
        .headline{
            color: #212121;
            font-size: 70px;
            text-align: center;
            font-weight: 600;
        }
    }
    .userTotalPoints{
        margin: 10px auto;
        background-color: #a7a7a7;
        width: 180px;
        height: fit-content;
        border-radius: 10px ;
        text-align: center;
        border: 3px solid #171717;
        .text{
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            background-color: rgb(232, 232, 232);
            color: $gold ;
            font-size: 36px;
            height: 40%;
            padding: 10px;
            font-weight: 500;
            border-bottom: 3px solid #171717;
        }
        .totalPoints{
            padding: 5px;
            height: 60%; 
            color: #171717;
            font-size: 50px;
            font-weight: 600;
        }
    }


    &.dark{
        background: linear-gradient(180deg, #171717 52%,#fff 100%);
        .headline{
            color: #eee;
        }
        .userTotalPoints{
            background-color: #171717;
            .text{
                color: $gold ;
                background-color: #373737;
            }
            .totalPoints{
                color: #fff;
            }
    
        }
    }
        .nogrid,.expectsContainer{
            background-color: #ccccff;
            padding: 10px;
            height: 100%;
            width: 80%;
            margin: auto;
            border-radius: 10px;
            
        }
        .expectsContainer{
            width: 95%;
            display: grid;
            grid-template-columns: repeat(4,25%);
        
    }

    /* for the parent if it dark mode*/
    &.dark{
        background: linear-gradient(180deg, #373737 0%, #212121 100%);

        .headlineWrapper{
            padding: 20px 0 ;  
        }
        .expectsContainer{
            background-color: #181818;
        }
    
        
}
}

@media screen and (max-width:960px) {

    .myexpects{
        
       
        .expectsContainer{
            padding: 10px;
            background: linear-gradient(180deg, #a1a1a1 0%, #ffffff 100%);
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3,33%);   
        }
    }
}
@media screen and (max-width:760px) {
    .myexpects{
        padding: 0px ;
        .headlineWrapper{
            background-color: #1a1a1a;
            padding : 10px ;
            border-bottom-left-radius:40% ;
            border-bottom-right-radius:40% ;
            border-bottom: 2px solid $gold;
            margin-bottom: 20px;
            .headline{
                color: #ffc021;
                font-size: 45px;
            }
        }
        .fakeContainer{
            padding: 0 10px 10px 10px;
        }
        .expectsContainer{
            padding: 10px;
            background: linear-gradient(180deg, #a1a1a1 0%, #ffffff 100%);
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2,50%);   
        }
        
    }
    .popMatchContainer{
        width: 80%; 
        .popMatchWinner{
            .winnerTitle{
                padding : 10px 0;
                font-size: 55px !important;
            }
        }
        
        .headerPopUp{
            
        .matchcardHeader{
           
            .popMatchCardCountryImg{
                width: 80px;
                height:80px;            
            }
        }
    }

    }
    
    
}

@media (min-width : 250px) and (max-width:339px) {
    .myexpects{
        .expectsContainer{
            padding: 10px;
            background: linear-gradient(180deg, #a1a1a1 0%, #ffffff 100%);
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2,50%);   
        }
        .headlineWrapper{
            .headline{
                font-size: 55px;
                color: $gold;
                font-weight: 400;
            }
        }
    }
    
    
    
}