@import '../../.mainStyle.scss';
.playersToExpect{
    width: 90%;
    border-radius: 10px;
    background-color: #eeeeee;
    height: fit-content;
    margin: 30px auto;
    grid-row: 3/5;
    grid-column: 2/3;
    @include shadowMainStyle;
    .PlayerRowCardContainer{
        box-shadow: none;
    }
    .playerCard{
        width: 90%;
        margin: 5px auto;
    }
    .headline{
        padding: 10px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-color: #FFD600;
        color: #fff;
        font-size: 50px;
        text-align: center;
        font-weight: 600;
    }
    .playersContainer{
        display: grid;
        grid-template-columns: repeat(2,50%);
        padding: 10px;
    }


    &.dark{
        background-color: #292929;
        .headline{
            background-color: #171717;
            color: #f04;
        }
        
    }
}

@media screen and(max-width : 1090px) {
    .playersToExpect{
        .playerCard{
            width: 70%;
        }
        .playersContainer{
            grid-template-columns: repeat(1,100%);   
        }
    }
}