@import '../.main.scss';
@import '../../../.mainStyle.scss';

.mainNews{
    width:90% ;
    height: fit-content;
    background-color: #ffffff;
    border-radius: $borderRaduis;
    margin: 20px auto 0;
   @include shadowMainNews;
    &.dark{
        @include dark1;
    }
    .imageWrapper{
        width: 100%;
        height: 60%;
        .mainImage{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: $borderRaduis;
            border-top-right-radius: $borderRaduis;

        }
    }
    .newsText{
        padding: 10px 10px 50px ;
        border-bottom: 5px solid #888;
        .newsTitle{
            color: $gold;
            font-size: 40px;
            font-weight: 600; 
            margin-bottom: 10px;  
        }
        .newsPara{
            color: #111;
            font-size: 22px;
            &.dark{
                color: #fff;
                background-color: transparent;
            }
        }
    }
    .restNewsContainer{
        height:fit-content ;
        .restNews{
            display: grid;
            grid-template-columns: 30% 70%;
            height:fit-content;
            overflow: hidden;
            border-bottom: 2px solid #ffbf00;
            &:last-child{
                border: none;
            }
           &.active{
            background-color: #bbb;
            color: #111;
           }
           &.dark{
            background-color: #272727;
            &.active{
                background-color: #d8b400;
                .title{
                    color: #111111;
                }
                color: #fff;

            }
        }

            .imageWrapper{
                
                height: 100%;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text{
                flex: 8;
                color: #111111;
                padding-left:10px ;
                padding-top:5px;
                .title{
                    color: $gold;
                    font-size: 30px;
                }
                .paragraph{
                    font-size: 19px;
                    &.dark{
                        background-color: transparent;
                        color: #fff;
                    }
                }
            }
            &:hover{
                background-color: #777777;
                position: relative;
                transform: translateX(10px);
                z-index: 8;
                cursor: pointer; 
                
            }
            &:last-child{
                .imageWrapper{
                   
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-bottom-left-radius: 20px;
                    }
                }  
                &:hover{
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }

            
        }
    }
    
@media screen and (max-width:890px) {

    
        width: 90%;
        margin: 0px auto 20px;
        .newsText{
            padding: 10px 10px 50px ;
            .newsTitle{
                font-size:55px;
                margin-bottom: 10px;  
            }
        }
        

        .restNewsContainer{
            border-top: 10px solid #fff;
        .restNews{
            display: flex;
            flex-direction: column;
            &:first-child{
                display: none;
            }
               
                .imageWrapper{
                    img{
                        height: 100%;
                        width: 100%; 
                    }   
                }
                .text{
                    
                    .title{
                        font-size: 30px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
                
    
                
            }
        }

}

@media screen and (max-width:390px) {

    
        width: 90%;
        margin: 0px auto 20px;
        .newsText{
            padding: 10px 10px 50px ;
            .newsTitle{
                font-size:30px;
                margin-bottom: 10px;  
            }
            .newsPara{
                font-size: 20px;
            }
        }
        .restNewsContainer{
            
        .restNews{
                display: flex;
                height: fit-content;
                .imageWrapper{
                    flex:3;
                    max-height: 100%;
                    min-height: 100%;
                    img{
                        object-fit: cover;
                        height: 100%;
                    }   
                }
                .text{
                    flex: 8;
                    .title{
                        font-size: 20px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                
    
                
            }
        }

        

    }

}



