.expectedContainer{
    .matchcardHeader-wrapper{
        background: linear-gradient(90deg, rgba(0,121,193,1) 0%, rgba(0,61,134,1) 100%);    
        }
        .matchcardHeader{
            background: linear-gradient(90deg, rgba(0,121,193,1) 0%, rgba(0,61,134,1) 100%);    
            justify-content: space-around;
            .matchCardStart{
            .matchCardbutton{
                font-size: 24px;
                width: 150px;
                background: linear-gradient(90deg, rgba(0,121,193,1) 0%, rgba(0,61,134,1) 100%);color: #fff;
                font-weight: 600;
                border: #fff;
                border-radius: 5px;
                &:hover{
                    background: linear-gradient(90deg, rgb(0, 72, 86) 39%, rgba(0,232,213,1) 100%);
        
                }
            }
        }
    }
    .matchCardStart{
        button{
                &.expetedButton { 
                background: #007bf1 ;
                margin: 1px 3px;
                padding: 5px;
                font-size: 26px;
                &:hover{
                    background : #272727;
                    color: #ffffff;
                    
                }
            }
        }
    }

    .popMatchFullPage{
        .popMatchContainer {
            background: linear-gradient(90deg, rgba(0,121,193,1) 0%, rgba(0,61,134,1) 100%);    
           
            .matchcardHeader{
                background: linear-gradient(90deg, rgba(0,121,193,1) 0%, rgba(0,61,134,1) 100%);    
           
            }
        }
    }
    }

   
.dark{
    .matchCardStart{
        button{
                &.expetedButton { 
               
                &:hover{
                    background-color : #ffffff;
                    color: #272727;
                    
                }
            }
        }
    }
}