.TopPlayers{
    height: fit-content;
    width:90%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #cacaca90;
    
    .topPlayersTitle{
        background-color: #FFD600;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        color: #fff;
        padding : 5px; 
    }
    .playersContainer{
        padding: 10px 5px;
        display: grid;
        grid-template-columns: repeat(5,20%);
    }
    .ShowMoreWrapper{
        .showMore{
            width: 100%;
            font-size: 48px;
            color: #272727;
            font-weight: 600;
            background-color: #FFD600;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            
            &:hover{
                background-color: #555;
                color: #ffffff;
                
            }
        }
    }
    /* dark theme for this component */
    &.dark{
        background-color: #272727;
        .topPlayersTitle{
            color: #171717;
        }
        .ShowMoreWrapper{
            .showMore{
                
                color: #FFD600;
                font-weight: 600;
                background-color: #272727;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                
                &:hover{
                    background-color: #070707;
                }
            }
        }
    }
   

}