$font1: 'Yanone Kaffeesatz', sans-serif;
$primaryColor : #F1003A;
$secondaryColor : #0000f4;

@mixin darkBackground {
    &::after{
        content: "";
        background-color:rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        bottom: -200vh;
        right: 0;
        left: 0;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font1;
}
.topnavbar{ 
    height:fit-content;
    width: 100%;
    background-color: #212121c7;
    z-index: 999;
    
    background-color: #000;
    h1{
        font-size: 56px;
        color : #fff;
    }
    .buttonscontainer{
        padding : 5px 15px;
        background-color: #b29600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        .buttonsWrapper{
            margin-right: 10px;
            .WelcomeNavbarButtons{
                text-decoration: none;
                font-size: 48px;
                font-weight: 600;
                color: #fff;
                background-color: #181818 ;
                color: #f1003a;
                border: #f1003a solid 5px;
                margin-left: 10px;
                padding: 2px 15px;
                border-radius: 10px;
                &.blueButton{
                    color: #FFD600;
                    border:  #FFD600 solid 5px;
                    &:hover{
                        color: #fff ;
                    border: #fff solid 5px;
                    }
                }    
            }
            .WelcomeNavbarButtons:hover{
                background-color: #272727;
                color: #fff;
                border: #fff solid 5px;
            }
        }
    }
}
.WelcomePageCover{
    height: calc(100vh - 83px);
    padding: 50px 20px 20px 10px;
    position: relative;
    background-image: url('https://cdn.kibrispdr.org/data/151/football-hd-pics-4.jpg');
    background-size: cover;
    &::before{
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 997;
        background-color: #272727d8;
    }
    .firstTitle{
        color: #fff;
        font-size: 84px;
        position: relative;
        text-align: center;
        z-index: 999;
        span{
            color: #FFD600;
        }
    }

    .cards-container{
        display: grid;
        padding: 50px 20px  10px;
        grid-template-columns: repeat(3,33.3%);
        position: relative;
        z-index: 999;
        .card-wrapper{
            &:hover{
                animation: scaleUp 260ms forwards;
             }
            .step{
                color: #fff;
                font-weight: 700;
                font-size: 50px;
                text-align: center;
                margin-bottom: 20px;
                span{
                    padding: 5px 10px;
                    border-radius: 10px;
                    border : 5px solid #FFD600;
                    color: #fff;
                }

            }
            .card{
                width: 80%;
                margin: auto;
                color: #fff;
                background-color: #181818;
                border-radius: 10px;
                cursor: pointer;
                height: fit-content;
                &.flipcard{
                    height: 320px;
                    position: relative;
                    transform-style: preserve-3d;
                    transition: transform 800ms;
                    &:hover{
                        transform:  rotateY(-180deg) ;
                    }
                    .card-face,.card-back{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: inherit;
                        background-color: #181818;
                    }
                    .card-face{
                        backface-visibility: hidden;
                        .text{
                            padding: 20px 5px;
                            position: absolute;
                            bottom: 0;
                        }
    
                    }
                    .card-back{
                        padding: 10px;   
                        background-color: #1818185d ;
                        transform: rotateY(180deg);
                        
                        .rules{
                            .points{
                                color : #FFD600;
                                margin-top: 30px;
                            }
                            &.expects{
                                padding: 5px;
                                font-size: 24px;
                                p{
                                    margin: 4px 0;
                                }
                                .green{
                                    color: #0f0;
                                    font-weight: 500;
                                }
                                .highlighted{
                                    color: #f1003a;
                                    font-size: 26px;
                                }
                                &.players{
                                    font-size: 30px;
                                    button{
                                        margin : auto;
                                        background: linear-gradient(90deg, #ffd600 60%, rgba(0,175,210,1) 100%);margin-top: 15px;
                                        font-weight: 600;
                                        color: #181818;
                                        &:hover{
                                            transform: scale(1.05);
                                            background: linear-gradient(90deg, #ffd600 0%, rgba(0,175,210,1) 100%);margin-top: 15px;
                                        }
                                        font-size: 30px;
                                        padding: 10px 15px;
                                    }
                                }
                            }

                        }
                    }
                }
                .text{
                    margin-top: 20px;
                    width: 100%;
                    background-color: #FFD600;
                    padding: 5px 10px;
                    font-size: 36px;
                    border-bottom-left-radius: inherit;
                    border-bottom-right-radius: inherit;
                    color: #222;
                    font-weight: 600;
                    text-align: center;
                }
                .imgage-wrapper{
                    padding: 10px ;
                    display: flex;
                    img{
                        margin: auto;
                        opacity: 0.8;
                        border-radius: 10px;
                    }
                }

                
    
            }
        }
    }
}



svg{
}
#firstPoly,#secondPoly{
    width: 500px;
    height: 100%;
    position: absolute;
}
#firstPoly{
    right: -80px;
}
#secondPoly{
    left: -80px;
    transform: rotate(180deg);
}
.left{
    position: absolute;
    left: -40px;
    border: #FFD600;
}
@keyframes scaleUp {
    from{}

    to{
        transform: scale(1.15);
    }
}