
@mixin darkBackground {
    &::after{
        content: "";
        background-color:rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        bottom: -200vh;
        right: 0;
        left: 0;
    }
}
$font1: 'Yanone Kaffeesatz', sans-serif;
$primaryColor : #F1003A;
$secondaryColor : #0000f4;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font1;
}
body{
    
}

.welcomeSentenceWrapper{
    margin: 40px 0 0 100px;
    text-align: center;
    .welcomeSentence{
        color: #fff;
        font-size: 60px;
        text-align: center;
        font-weight: 700;
        span{
            color: #FFD600;
        }
    }
}
.tipsTitleWrapper{
    margin-top: 40px;
    text-align: center;
    .tipsTitle{
        color: $primaryColor;
        font-size: 55px;
        text-align: center;
        font-weight: 600;
    }
}
.welcomePage{
    background-image: url(file:///C:/Users/hp/Downloads/darkness.png);
    width: 100%;
    height:100vh;
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;

    .playerImage {
        width: 300px;
        height:100%;
        position: absolute;
        right: -20px;
        top: 0;
        z-index: 10;
    } 
    .wrapperPoint{
        margin-left: 60px;
        position: relative;
        margin-top: -40px;
        z-index: 999;
        .headingPoint{
            color: #fff;
            font-size: 45px;
            margin-bottom: 10px;
        }
        
    }
    .cardExplainContainer{
        width: 350px;
        height: 250px;
        border-radius: 5px;
        margin-left: 10px;
        position: relative;
        z-index: 999;
        overflow: hidden;
        background-color: rgba(85, 85, 85, 0.685);
        .imgExplainContainer{
            height: 150px;
            .explainImg{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom: $primaryColor solid 6px;
            }
        }
        .explenationCont{
            color: #ddd;
            padding: 8px 10px 20px;
            transition: all 300ms;
        }
        .explainBottom{
            position: absolute;
            bottom: 0;
            z-index: 10;
            background-color: $primaryColor ;
            width: 100%;
            color: #fff;
            height: 40px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            border-top:#333 solid 2px;
            justify-content: center;
            cursor: pointer;
            .showmore{
                font-size: 1.4em;
                font-weight: 600;
                
            }
        }
    }
    &.second{
        background-color: rgba(51, 51, 51, 0.584);
        .playerImage {
            position: absolute;
            right: 0px;
        }
    }
    
}
.topnavbar{ 
    height:fit-content;
    width: 100%;
    background-color: #212121c7;
    z-index: 999;
}
.buttonscontainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    .buttonsWrapper{
        margin-right: 10px;
    }
}
.WelcomeNavbarButtons{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4) ;
    color: $primaryColor;
    border: $primaryColor solid 2px;
    margin-left: 10px;
    padding:  5px 15px;
    border-radius: 10px;
    &.blueButton{
        color: $secondaryColor;
        border:  $secondaryColor solid 2px;
        &:hover{
            color: $secondaryColor;
        border: $secondaryColor solid 2px;
        }
    }    
}
.WelcomeNavbarButtons:hover{
    background-color: #272727;
    color: $primaryColor;
    border: $primaryColor solid 2px;
}
svg{
}
#firstPoly,#secondPoly{
    width: 500px;
    height: 100%;
    position: absolute;
}
#firstPoly{
    right: -80px;
}
#secondPoly{
    left: -80px;
    transform: rotate(180deg);
}
.left{
    position: absolute;
    left: -40px;
    border: #FFD600;
}