.TopVotes{
    width : 100%;
    height: fit-content;
    border-radius: 10px;
    margin: 20px auto;
    background-color: #e7e7e7;
    border-radius: 10px;
    .topVotesHeader{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        text-align: center;
        background-color: #FFD600;
        h1{
            font-size: 50px;
            padding: 10px 0 ;
            color: #fff;
        }
    }
    
    .playersContainer{
        display: grid;
        grid-template-columns: repeat(5,20%);
        padding: 5px;
        .palyerCard{
            border: 2px solid #00000000;
           
        }
    }
    &.dark{
        background-color: #272727;
        .topVotesHeader{
            h1{
                
                color: #171717;
            }
        }
    }
}