.matchCard-container{
    margin-top: 50px;
    background-color: #080808;
    position: relative;
    border-radius: 10px;
    z-index: 999;
    .headline-matchContaine{
        background-color: #ffea00;
        color: 171717;
        font-size: 40px;
        text-align: center;
        padding: 5px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .noContent{
        &.welcomepage{
            h1{
                color: #fff;
            }
        }
    }
    .matchCardGrid{
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(4,25%);
        
        @media screen and (max-width : 480px) {
            grid-template-columns: repeat(1,100%); 
    }
    }
}
