@import '../../.mainStyle.scss';

.updatePersonalPopup{

    @include popupContainer;
    .updatePersonal-container{
        @include scrollbar-style;
        background-color: #ffffff;
        border-radius: 10px;
        width: 600px;
        max-height: 500px;
        overflow-y: scroll ;
        position: relative;
        height: fit-content;
        .close-icon{
            @include Top-Right-Icon;
            color: #111111;
            font-size: 35px;
        }
        .header{
            background-color: #e2e2e2;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 5px;
            color: #111111;
            svg{
                font-size: 60px;
                color: #111111;
            }
            h1{
                font-size: 35px;
            }
        }
        h3{
            padding: 10px;
            font-size: 30px;
        }
        form{
            padding:10px 20px;
            .inputContainer{
                margin: 10px;
                display: flex;
                flex-direction: column;
                color: #373737;
                text-align: start;
                font-size: 30px;
                text-align: center;
                .showField{
                    cursor: pointer;
                }
                .fieldHeader{
                    position: relative;
                    margin: 5px 0 ;
                    svg{
                        position: absolute;
                        right: 0;
                        top: -5px;
                        cursor: pointer;
                    }
                }
                input{
                    width: 70%;
                    height: 40px;
                    margin: auto;
                    background-color: #eeeeee;
                    outline: none;
                    border: none;
                    padding: 5px 10px;
                    color: #000000;
                    font-size: 24px;
                    border-radius: 5px;

                    &:focus{
                        border: 3px solid #f04;
                    }
                }
                input::-webkit-input-placeholder{
                    color: #575757;;
                }
            }
        .msg-container{
            width : 60%;
            padding: 3px;
            border-radius: 5px;
            color: #fff;
            font-size: 24px;
            margin: 5px auto;
            &.danger{
                background-color: rgb(255, 87, 132);
                border-left: 10px solid #f01;
            }
            &.green{
                background-color: rgba(4, 218, 0, 0.795);
                border-left: 10px solid #00821c;
            }

        }
        .button-wrapper{
            button{
                margin: auto;
                width: 200px;
                height: 50px;
                border-radius: 5px;
                font-size: 30px;
                background-color: #080;
                padding: 5px 10px;
                &:hover{
                    background-color: #171714a7;

                }
                
            }
        }
        }


    }
    // dark mode 
    &.dark{
        .updatePersonal-container{
            background-color: #373737;
            .header{
                background-color: #2a2a2a;
                color: #dddddd;
                svg{
                    font-size: 60px;
                    color: #eeeeee;
                }
            }
            .close-icon{
                color: #ffffff;
            }
            form{
                .inputContainer{
                    color: #ffffff;
                   
                    
                    input{
                        background-color: #676767;
                        color: #ffffff;
                        
    
                        &:focus{
                            border: 3px solid #f04;
                        }
                    }
                    input::-webkit-input-placeholder{
                        color: #eeeeee;;
                    }
                }
            .button-wrapper{
                button{
                   
                    background-color: #080;
                    padding: 5px 10px;
                    &:hover{
                        background-color: #e7e7e7;
                        color: #111111;
    
                    }
                    
                }
            }
            }
        }
    }
}