@import '../../.mainStyle.scss';

.postMatchCard{
    background-color: $qatar;
    width: 90%;
    border-radius: 20px;
    @include shadowMainStyle;
    padding-bottom: 10px;
    margin: 5px auto;
    .matchHeader{
        border-bottom: 4px solid #fff;
        padding: 10px ;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        background-color: $gold;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;

        .country{
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .countryImage{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
            .countryLable{
                font-size: 24px;
                font-weight: 500;
                color: #fff;
                margin-top: 4px;

            }   
        }
        .result{
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            font-size: 30px;
        }

    }
    .userExpect{
        text-align: center;
        margin-top: 10px;
        h3{
            color: $gold;
            font-size: 40px;
            font-weight: 600;
        }
        p{
            font-size: 25px;
            color: #fff;

        }
    }
    .showFullWrapper{
        display: flex;
        justify-content:end;
        margin: 10px 10px 0 0 ;
        .showFull{
            background-color: $gold;
            font-size: 25px;
            color: #fff;
            padding: 20px;
            font-weight: 600;
            height: 40px;
            border-radius: 10px;
            border: 2px solid #000;
            cursor: pointer;
        }
    }

}