@import '../../../.mainStyle.scss';

.palyerCard{
    min-width: 150px;
    border-radius: 10px;
    margin: 0 4px 5px 0 ;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 2px 3px 87px -6px rgba(0,0,0,0.43);
    -webkit-box-shadow: 2px 3px 87px -6px rgba(0,0,0,0.43);
    -moz-box-shadow: 2px 3px 87px -6px rgba(0,0,0,0.43);
    background: linear-gradient(90deg, #513333 50%, #9d0116 50%);
    border: 3px solid #272727;
    position: relative;
    &.dark{
        border: 3px solid #d7d7d7;
    }
    &.lock{
        background: linear-gradient(90deg, #191919 50%, #303030 50%);
    }
    &.goldenPlayer{
        background: linear-gradient(90deg, #94940f8c 50%, #ffe100cf  50%) !important;
        .playerCardInfo{

            .playerDetails{
                .details{
                    color: #ffffff;
                }
                .name{
                    color: #111111;
                    font-size: 25px;
                    font-weight: 600;
                }
            }
        }
    }
    
    a{
        text-decoration: none;
    }
    .info{
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
    .playerCardInfo{
        
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
        

        .imgBackground{
            display: flex;
            flex-direction: column;
            align-items: center;
         
            border-bottom: 2px solid #eee;
            padding: 2px 0;
            border-top-right-radius: inherit;
            border-top-left-radius: inherit;
            
            .playerCardImg{
                width: 65px;
                height: 65px;
                object-fit: cover;
                padding: 2px;
                border-radius: 50%;
                border: 2px solid #171717;
                background-color: #2727278d;
            }
            .country-flag{
                width: 30px;
                height: 20px;
                margin: 5px 0;
                border: 2px solid #111;
            }
        }
        .details{
            color: #c0c0c0;
            &.name{
                color: rgb(255, 191, 0);
                font-size: 22px;
                
            }
            &.country{

                font-size: 22px;
            }
        }
        .playerDetails{
            padding-top: 5px;
            font-size: 30px;
            text-align: center;
            color: #fff;
            width: 100%;

           
            .PlayerStateSelction{
                width: 100%;
                outline: none;
                margin: 5px auto;
                height: 30px;
                background-color: #171717;
                color: #fff;
                border-radius: 0;
                font-size: 22px;
                text-align: center;
                option{
                    border-radius: 0;
                    font-size: 20px;
                    &:hover{
                        background-color: #9d0116;
                        color: #fff;
                    } 
                    &.goodPoints{
                        color: rgba(0, 163, 0, 0.897);
                    }
                    &.badPoints{
                        color: #db001d;
                    }
                     
                }    
            }
            
        }
        
}
.adminButton{
    margin: 5px auto;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #9d0116;
    border:2px solid #fff;
    width: 90%;
    font-size: 20px;
    &:hover{
        background-color: #fff;
        color: #9d0116;
    }
}
}

@media screen and (max-width:760px) {
    .palyerCard{
        min-width: 130px;
        .playerCardInfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            .playerDetails{
                font-size: 25px;
               
    
            }
            
    }
    } 
}

@media screen and (max-width:390px) {
    .palyerCard{
        width: 70px !important;
        padding: 2px 0;
        margin: 0 2px 2px 0 ;
        margin-right: 5px;
    
        .playerCardInfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .imgBackground{
                   
                .playerCardImg{
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    margin: 0 10px;
                    border-radius: 50%;
                }
            }
            
            .playerDetails{
                padding-top: 5px;
                font-size: 30px;
                text-align: center;
                color: #fff;
                width: 100%;
    
            }
            
    }
    }
}