
@import './global';
@import '../../.mainStyle.scss';

.bottomNavbar{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    @include shadowMainStyle;
    border-top: 2px solid #dddddd;
    display: flex;
    justify-content:center;
    align-items: center;
    
    #{&}Link{ 
        text-decoration: none;
        display: flex;
        
        &.selected{
            background-color: #C10027;
            color: #eeeeee;
            padding: 0px;
        }
    }
   
    #{&}Item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px ;
        background-color: inherit;
        &:hover{
            background-color: #C10027;
            
        }
        &.dropUpBarWrapper{
            position: relative;
                .dropUpBar{
                   display: none;
                    position: absolute;
                    transition: top 200ms ;
                    top: -130px;
                    right: -5px;
                    z-index: 999;
                    width: 150px;
                    border-radius: 5px;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: #171717;
                    }
                    @include  shadowMainStyle;
                    .dropdownItem{
                        font-size: 18px;
                        color: #111111;
                        font-weight: 500;
                        &.dark{
                            color: #eeeeee;
                            span{
                                color: #eeeeee;
                            }
                        }
                    }
                   
                    .bottomNavbarItemDropUP{
                        &:hover{
                            background-color: #C10027;
                            color: #eeeeee;
                        }
                        display: flex;
                        align-content: center;
                        align-items: center;
                        padding: 5px;
                        justify-content: center;
                    }
                }
                &:hover{
                    .dropUpBar{
                        display: block;
                    }
                }
        }
        .dropUpBar{
            display: none;
            background-color: #cccccc;
            .bottomNavbarItemDropUP{
                width: 100%;
            }

        }
    }
}
@media (min-width : 250px) and (max-width : 370px) {
    .bottomNavbar{
        
        #{&}Link{ 
            text-decoration: none;
            display: flex;
            font-size: 15px;
            span{
                font-size: 15px;
            }
            &.selected{
                background-color: #C10027;
                color: #eee;
                padding: 0px;
            }
        }
       
        #{&}Item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px ;
            background-color: inherit;
            &:hover{
                background-color: #C10027;
                color: #eeeeee;
                
            }
            &.dropUpBarWrapper{
                position: relative;
                &:hover{
                    .dropUpBar{
                        display: block;
                        border: 2px solid #ffffff;
                        top: -120px;
                        right: -5px;
                        z-index: 999;
                        @include shadowMainStyle;

                        .bottomNavbarItemDropUP{
                            &:hover{
                                background-color: #C10027;
                                color: #eeeeee;
                            }
                            display: flex;
                            align-content: center;
                            align-items: center;
                            padding: 5px;
                            justify-content: center;
                        }
                        a{
                            color: #111111;
                            text-decoration: none;
                            
                        }
                    }
                }
            }
            .dropUpBar{
                display: none;
                background-color: #cccccc;
                .bottomNavbarItemDropUP{
                    width: 100%;
                }
    
            }
        }
    }
}