.teamPage{
    min-height: 90vh;
    height: fit-content;
    background: linear-gradient(180deg, #eee 1%, #ccc 93%);
    padding: 10px;
    &.dark{
        background: linear-gradient(180deg, #474747 1%, #373737 93%);
     
    }


}