
.container{
    width: 100%;
    height: fit-content;
    background-color:#93002C;
}
.body{
    color: #000;
    
}

h1{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}
.headline{
    height: 60px;
    background-color: #ffa600;
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}