.states{
    min-height: 400px;
    .statesTitle{
        font-size: 56px;
        padding: 10px 0 ;
        text-align: center;
        font-weight: 700;
    }
    .tops-container{
        width: 80%;
        margin: auto;
    }
    &.dark{
        background-color: #373737;
    }
}