.states{
    min-height: 400px;
    padding-bottom: 20px;
    .statesTitle{
        font-size: 56px;
        padding: 10px 0 ;
        text-align: center;
        font-weight: 700;
    }
    .tops-container{
        width: 90%;
        margin: auto;
    }
    &.dark{
        background-color: #373737;
    }
    
}
@media screen and (max-width : 850px ) {
    .TopVotes , .TopPlayers{
        .playersContainer{
            grid-template-columns: repeat(3,33.3%);
        }
    } 
}
@media screen and (max-width : 550px ) {
    .states{

        .TopVotes , .TopPlayers{
            .playersContainer{
           display: flex;
           flex-direction: column;
           .palyerCard{
              // background: linear-gradient(90deg, #513333 25%, #9d0116 20%);
              background: #9d0116; 
              border: none;
               width: 90% !important;
               margin: 4px auto;
               .playerCardInfo{
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   align-items: center;

                   .imgBackground{
                    flex: 4;
                    background: #513333 !important;
                    border-radius: 0px;
                    border: none;
                    border-radius: 10px ;
                }
                   .playerDetails{
                    flex: 8;
                    .name{
                        font-size: 28px ;

                    }
                    font-size: 26px ;
                }
            }

        }
        }
    } 
}
}