.groups-container{

    border-radius: 10px;
    background-color: #111111;
    width: 100%;
    margin: 40px auto 10px;
    position: relative;
    z-index: 99;

    .header{
        >h1{
            color: #171717;
            text-align: center; 
            background-color: #ffe100;
            padding: 5px;
            border-top-left-radius: 10px;   
            border-top-right-radius: 10px;
            font-size: 75px; 
        }
       }
       .content-container { 
            display: grid;
            grid-template-columns: repeat(2,50%);
            .CountryStanding{
                width: 90%;
                margin: 10px auto;
                .header{
                    h1{
                        background-color: #070707;
                        color: #ffe100;
                    }
                }
            }

       }
}
@media screen and (max-width : 940px) {
    .groups-container{
        .content-container { 
            grid-template-columns: repeat(2,50%);
            .CountryStanding{
                width: 85%;
            }
        }
   }
}
@media screen and (max-width : 720px) {
    .groups-container{
        margin: 40px auto 10px;
        position: relative;
        z-index: 99;
        .header{
            >h1{
                font-size: 35px; 
            }
           }
        >.header{
            >h1{
                color: #171717;
                text-align: center; 
                background-color: #ffe100;
                padding: 5px;
                font-size: 55px; 
            }
           }
           .content-container { 
               display: grid;
               grid-template-columns: repeat(8,100%);
                transition: transform 400ms;
                overflow: scroll;
                .CountryStanding{
                   width: 90%;
                    margin: 10px auto;
                    position: relative;

                    .header{
                        h1{
                            background-color: #070707;
                            color: #ffe100;
                        }
                    }
                }
                
            }
        }
       
}