$gold : #FFD600;
$qatar:#93002C;
$pinck:#FF005C;
$betiured : #ec0323;
@mixin shadowMainStyle {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
}
@mixin dark1{
    background-color: #111;
    transition: 150ms;
}


@mixin dark2{
    background-color: #222;
    transition: 150ms;
}

@mixin dark3{
    background-color: #333;
    transition: 150ms;
    
}