$gold : #FFD600;
$qatar:#93002C;
$pinck:#FF005C;
$betiured : #ec0323;
@mixin shadowMainStyle {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
}
@mixin dark1{
    background-color: #111;
    transition: 150ms;
}


@mixin dark2{
    background-color: #222;
    transition: 150ms;
}

@mixin dark3{
    background-color: #333;
    transition: 150ms;
    
}

@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin popupContainer {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1717175b;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@mixin scrollbar-style{
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #888;
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #272727; 
        border-radius: 5px;
        margin-top: 5px;
      }
}
@mixin Top-Right-Icon {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
    cursor: pointer;
    color: #eee;
}

@mixin Container {
    border-radius: 10px ;
    padding: 10px;
}