@use '../../App.scss';
@import '../../.mainStyle.scss';

.match{
    width: 100%;
    height: fit-content;
    background-color: #d7d7d7;
    color: #222;
    transition: 300ms;
    .matchWrapper{
        padding: 10px;
        .matchTitle{
            text-align: center;
            font-size: 52px;
            color: inherit;
        }
    }
    .matchCard-container{
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: #ffd50056;
        transition: 300ms;
        .matchCardGrid{
            margin: 20px 0;
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(4,25%);
            height: calc(fit-content + 50px);
        }
        
        .matchcardButton-wrapper{
            button{
                width: 100%;
                font-size: 36px;
                font-weight: 600;
                margin: 0  auto;
                background-color: #FFD600;
                color: #fff;
                padding: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;

            }
    }
    }
    .filter-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .round-filter-container{
            margin: 0 10px ;
            select{
                width: 200px;
                height:40px;
                font-size: 22px;
                text-align: center;
                background-color: #555;
                color: #fff;
                border-radius: 5px;
                margin: 0 5px ;
            }
        }
        label{
            display: flex;
            align-items: center;

    }
        .dateContainer{
            display: flex;
            align-items: center;
            justify-content:end;
        svg{
            width: 50px;
            height: 40px;
        }
        input[type="date"]{
            background-color: #222;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            background-color: #555;
            border: none;
            outline: none;
            padding: 5px 10px;
            border-radius: 5px;
            margin: 5px ;
            color: #eee;
            font-size: 24px;
            text-align: center;
            
        }
    }
       
    }
    /* for dark mode */
    &.dark{
        background-color: #333;
        color: #eee;
        transition: 300ms;

        .matchCard-container{
            background-color:#222;
           
        .matchcardButton-wrapper{
            button{
                background-color: #FFD600 ;
                color: #272727;   
            }
            }
        }    
    }

    @media screen and (max-width: 960px) {
        
        .matchWrapper{
            padding: 10px;
            .matchTitle{
                font-size: 46px;                       
            }
            .matchCard-container{
                .matchCardGrid{
                    margin: 20px 0;
                    padding: 10px;
                   
                    grid-template-columns: repeat(3,33%);   
                    height: calc(fit-content + 50px);
                }
            }   
        }         
    }
@media screen and (max-width: 760px) {
        .matchWrapper{
            padding: 10px;
            .matchTitle{
              
                font-size: 60px;
                padding: 10px ;
            }
            
            .matchCard-container{
                border-radius: 10px;
                margin-bottom: 20px;
                .matchCardGrid{
                    margin: 20px 0;
                    padding: 10px;
                    grid-template-columns: repeat(2,50%);
                    height: calc(fit-content + 50px);
                }
                
                .matchcardButton-wrapper{
                    button{
                        width: 100%;
                        font-size: 36px;
                        font-weight: 600;
                        margin: 0  auto;
                        background-color: #FFD600;
                        color: #fff;
                        padding: 10px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-top-left-radius: inherit;
                        border-top-right-radius: inherit;
        
                    }
            }
            }
        

    }
    
}

@media (min-width : 370px) and (max-width: 480px) {
    .matchWrapper{
        padding: 5px;
        .matchTitle{
            text-align: center;
            font-size: 44px;
            color: #FFD600;
        }
    }
    .dateContainer{
        justify-content:center;    
    }
    .matchCard-container{
        .matchCardGrid{
            display: flex;
            flex-direction: column;
        }
    }
    
}

@media (min-width : 250px) and (max-width: 369px) {
    .matchWrapper{
        padding: 5px;
        .matchTitle{
          
            font-size: 36px;
            color: #ddb800;
            font-weight: 500;
        }
    }
    .dateContainer{
        justify-content:center;
        
    }
    .filter-container{
        .round-filter-container{
            margin: 0 5px ;
            select{
                width: 160px;
                font-size: 20px;
                background-color: #ddd;
                color: #222;
            }
        }
    }
    label{
        h1{
            font-size: 25px;
        }
        
    }
    .matchCard-container{
        .matchCardGrid{
            display: flex;
            flex-direction: column;
        }
    }
    
}

.filter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .round-filter-container{
        margin: 0 10px ;     
    }
    
    .dateContainer{
        
    
    input[type="date"]{
       
        padding: 5px 10px;
        border-radius: 5px;
        margin: 5px ;
        color: #555;
        font-size: 24px;
        text-align: center;

       
    }
}
   
}

}