@use '../../App.scss';
@import '../../.mainStyle.scss';

.match{
    width: 100%;
    height: fit-content;
    background-color: #d7d7d7;
    color: #222;
    transition: 300ms;
    &.dark{
        background-color: #333;
        color: #eee;
        transition: 300ms;
        
    }
    .matchWrapper{
        padding: 10px;
        .matchTitle{
            text-align: center;
            font-size: 52px;
            color: inherit;
        }
        .matchCardContainer{
            display: grid;
            grid-template-columns: repeat(4,25%);
            height: calc(fit-content + 50px);
            
        }
    }
}
@media screen and (max-width: 960px) {
    .match{
       
        .matchWrapper{
            padding: 10px;
            .matchTitle{
                text-align: center;
                font-size: 52px;
                color: inherit;
            }
            .matchCardContainer{
                grid-template-columns: repeat(3,33%);   
            }
        }
    }
    
}
@media screen and (max-width: 760px) {
    .match{
       
        .matchWrapper{
            padding: 10px;
            .matchTitle{
                text-align: center;
                font-size: 60px;
                padding: 10px ;
            }
            .matchCardContainer{
                grid-template-columns: repeat(2,50%);   
            }
        }
    }
    
}

@media screen and (max-width: 576px) {
    
    
}