.dashboard{
    padding: 10px 20px;
    .button-deleteWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
        button{
            background-color: #f04;
            padding: 5px 10px;
            font-size: 30px;
            width: 200px;
            height: 40px;
            &:hover{
                background-color: #f01;

            }
        }
    }
}