@import '../../.mainStyle.scss';


.footer{
    height:fit-content;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    background-color: #111;
    color:#f5f5f5;
   
    .Expect{
        padding: 10px 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        h1{
            font-size: 64px; 
        }
        
    }
    
    .contentContainer{
        position: relative;
        z-index: 9;
        display: flex;
        width: 100%;
        padding: 10px 0 ;
        display: flex;
        justify-content: space-around;
        .contactUs{
            display: flex;
            flex-direction: column;

        }
        .iconsContainer{
            
            a{
                &:hover{
                    background-color: transparent;
                    animation: none;
                }
            }
            .imgicons{
                width: 30px;
                height: 30px;
                border-radius: 5px;
                &:hover{
                    transform: scale(1.1);
                    animation: none;
                }
            }

        }
        a{
            text-decoration: none;
            font-size: 20px;
            color: #fff;
            padding: 5px;
            border-bottom: #111 3px solid;
            &:hover{
                animation : linedown 200ms alternate forwards  ;

            }
        }
        .feedBackContainer{
            width: 40%;
            margin-left: -60px;
        }

    }
    .bottomFooter{
        color: #f5f5f5;
        border-top: 2px solid #eee;
        background-color: #000;
        height: 30px;
        padding: 20px;
        display: flex;
        align-items: center;
        font-weight: 400;
        justify-content: center;
        &.fake{
            border: none;
        }
        span{
            font-size: 30px;
            margin: 4px 0 ;
        }
    }
 @media screen and (max-width:490px) {
    .Expect{
        padding: 5px 10px;
        h1{
            font-size: 64px ;
        }
    }
    .contentContainer{
        display: flex;
        flex-direction: column;
        .feedBackContainer{
            width: 100%;
            margin: 10px auto;
            textarea{
                min-width: 40%;
                width: 60% ;
                max-width: 80% ;
                height: 40px;
                max-height: 160px;
            }
        }

    }

 }
    

}
@keyframes linedown {
        from{

        }   
        to{
            border-bottom : 3px solid #e04 ;
            background-color: #222;
        }         
} 