@import '../.loading.scss';
.smallLoadingContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .SmallLaoding{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        .square{
         @include styling   
        }
        @include animation
    
    }
}