@import '../../.mainStyle.scss';

.homeStanding{
    width: 90%;
    height: 300px;
    border-radius: 20px;
    background-color: #fff;
    transition: 200ms;
    margin: 20px ;
    .headline{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        padding: 5px 0 ;
        text-align: center;
        background-color: #222;
        a{
            font-size: 50px;
            color: $gold;
            font-weight: 600;
            text-decoration: none; 
        }


    }
    &.dark{
        .headline{
            background-color: #111;
            border-bottom:4px solid #fff ;
        }
        a{
            color: $betiured;
        }
        background-color: #222;
        color: #fff;
        .tableHead{
            color: $betiured ;
            background-color: #111;
            border-bottom: 2px solid #eee;
            font-weight: 500;
        }       
            
        
        .player{
            background-color: #444;
            border-bottom: 1px solid #eee;
        }
        .playerLink{
            color: #fff;
        }

    }
    margin: auto;
    @include shadowMainStyle;
        
    
    .player{
        padding:5px 10px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ddd;
        border-bottom: 1px solid #999;
        &:hover{
            transform: scaleX(1.05);
        }
        
        
        a{
            color: #222;
            font-size: 22px;
            text-decoration: none;
            &:hover{
                color: $pinck;
                text-decoration: underline;
            }
        }
        

    }

}
.tableHead{
    color: #171717;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    padding: 5px 10px;
    font-weight: 700;
}