@import '../.main.scss';
@import '../../../.mainStyle.scss';
.dontMissList{
    width: 80%;
    height: fit-content;
    background-color: #fff;
    padding-bottom: 10px ;
    margin: 20px auto ;
    @include shadowMainNews;
    // for the dark theme.
    &.dark{
        @include dark2;
        .titleWrapper{
            @include dark1;
            .title{
                color: $betiured;
            }
        }
        .no-content{
            h1{
                color: #f4687b;
            }
            a{
                color: #eeeeee;
                font-size: 22px;
                &:hover{
                    color: #ff3c56;
                }
            }
    
        }

    }
    .matchCard{
        box-shadow: none;
        .matchCardCounter{
            padding: 5px;
        }
       
    }
    border-radius: $borderRaduis;
    .titleWrapper{
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
        padding-top: 10px;
        text-align: center;
        background-color: #222;
        border-bottom:4px solid #111 ;
        
        
        .title{
            color: $gold;
            font-size:60px; 
        }    
    }
    .no-content{
        padding: 10px;
        text-align: center;
        h1{
            font-size: 35px;
            color: #e6c100;
            font-weight: 500;
        }
        a{
            color: #555555;
            font-size: 22px;
            &:hover{
                color: #e6c100;
                color: #111111;
            }

        }

    }
}

@media screen and (max-width:890px) {
    .dontMissList{
        width: 90%;
        border-radius: $borderRaduis;
        margin: auto;
       
    }
    
}