
.goldenPlayercard{
    border-radius: 10px;
    width:33.3%;
    background-color: transparent;
    margin: 10px 0;
    .informationHeader-Wrapper{
        background:linear-gradient(90deg, #ffd600 20%, #373737 74%);
        
    }
  .noContent{
    padding: 5px;
    font-size: 22px;
    background-color: #c7c7c7;
    border-radius: 0;
  }  
    .InformationHeader{
        width: 100%;
        color : #ffffff !important;
    }
    .playerCard-container{
        padding: 10px 10px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        button{
            margin-top: 5px;
            font-size: 26px;
            background-color: #de2727;
            &:hover{
                background-color: #373737;
                color: #ffffff;
            }
        }
        .palyerCard{
            cursor: default;
            background: linear-gradient(90deg, #90901d 50%, #ffc400 50%);
            width: 50%;
            svg{
                color: #ffffff;
            }
            .playerDetails{
                
                .details{
                    color: #ffffff;
                    font-size: 22px;
                    &.name{
                        color: #111111;
                        font-size: 25px;
                    }
                }
            }
        }
        .previousGoldenPlayer{
            border-radius: 10px;
            margin: 30px auto 0;
            width: 100%;
            padding-bottom: 10px;
            background-color: #b7b7b7;
           
            .header{
                h1{
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    padding: 5px;
                    background-color: #f4cb00;
                    font-size: 40px;
                    text-align: center;
                    
                }
            }
            .player{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px  10px 0;
                .player-personal{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h3{
                        color: #272727;
                        width: 70px;
                        text-align: center;
                        margin-top: 5px;
                    }
                    img{
                        width: 70px;
                        height: 70px;
                        border: 2px solid #f4c700;
                        border-radius: 50%;
                        background-color: #17171769;
                        &.country{
                            width: 50px;
                            height: 35px;
                            border-radius: 0;
                            border: 2px solid #272727;
                        }
                    }
                }
                .detail{
                    background-color: #373737;
                    border-radius: 20%;
                    padding: 10px;
                    font-size: 23px;
                    color: #ffffff;
                    .points{
                        font-size: 48px;
                        color: #ffc400;
                    }

                }
            }
            .background{
                background-color: #99999996;
                transition: all 600ms;
                height: 0;
                overflow: hidden;
                &.expand{
                    padding: 30px 0 30px;
                    height: fit-content;
                    overflow: visible;
                }
                .playerMatchPoints-container{
                    border: 2px solid #171717;
                    padding: 0;
                    border-radius: 0;
                    width: 100%;
                    .table-header-wrapper,.detail-player{
                        border-radius: 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .detail-player{
                        padding: 5px ;
                        .flex-img{
                            margin: 2px 0;
                        }
                    }
                    

                }
            }
            .previousPlayerbutton-wrapper{
                position: relative;
            }
            .previousPlayerButton{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                border-radius: 50%;
                font-weight: 600;
                width: 50px;
                height: 50px;
                position: absolute;
                left: 50%;
                top: -10px;
                z-index: 20;
                margin-left: -25px;
                cursor: pointer;
                background-color: #555555;
                color: #ffc400;
                font-weight: 600;
                .arrow-playerdetails{
                    font-size: 60px;
                    transform: rotate(180deg);
                    transition: all 400ms;
                    &.rotate{
                        transform: rotate(0deg);
                        
                    }
                }
                &:hover{
                    background-color: #272727;
                    color: #ffc400;
                }
            }

            &.current{
                background-color: #f4c400;
                text-align: center;
                .header{

                    h1{
                        background-color: #2a2a2a;
                        color: #f4c400;
                        border-radius:10px ;
                    }
                }

                .player{
                    .player-personal{
                        h3{
                            color: #272727;
                        }
                        img{
                            border: 2px solid #f4c700;
                            background-color: #e7e7e7aa;
                            border: 2px solid #272727;
                            &.country{
                                border: 2px solid #272727;
                            }
                        }
                    }
                    .detail{
                        background-color: #373737;
                        color: #ffffff;
                        .points{
                            font-size: 48px;
                            color: #ffc400;
                        }
    
                    }

                }
                .background{
                    background-color: #ccccccc9;
                    transition: all 600ms;
                    height: 0;
                    overflow: hidden;
                    &.expand{
                        padding: 30px 0 30px;
                        height: fit-content;
                        overflow: visible;
                    }
                    .playerMatchPoints-container{
                        border: 2px solid #171717;
                        padding: 0;
                        border-radius: 0;
                        width: 100%;
                        .table-header-wrapper,.detail-player{
                            border-radius: 0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        .detail-player{
                            padding: 5px ;
                            .flex-img{
                                margin: 2px 0;
                            }
                        }
                        
    
                    }
                }
            }
        }
        
    }
    .content{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        

        .addicon{
            width: 170px ;
            height: 200px;
            padding:5px;
            text-align: center;
            border-radius: 5px;
            background-color: #dddddd;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            cursor: pointer;
            svg{
                font-size: 65px;
                margin-bottom: 10px;
            }
            h2{
                font-size: 30px;
            }
            &:hover{
                background-color: #bbbbbb;
                color: #272727;

            }

        }
    }
    .goldenPlayerPoints-container{
        display: flex;
        align-items:flex-end;
        margin: 10px auto;
        width: 50%;
        .points{
            background-color: #ffffff;
            border-radius: 10px;     
            width: 120px;
            h1{
                padding: 5px 10px;
                color: #991818;
                font-size: 48px;
            }
            h3{
                background-color: #ffc400;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 5px;
                color: #272727;
                font-size: 40px;
            }
        }
        .factor{
            margin-left: 10px;
            color: #272927;
            font-size: 50px;
        }
    }
    .totalgoldenPoints{
        background-color: #ffc400;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #171717;
        font-size: 32px;
        font-weight: 600;
        padding: 10px;
    }

    &.dark{
        .addicon{
            background-color: #272727;
            color: #ffffff;
            border: 3px solid #ffc400;
           
            &:hover{
                background-color: #ffc400;
                color: #171717;
            }

        }
        .noContent{
            background-color: #3b3b3b;
            border-radius: 0;
          }  
        .playerCard-container{

            button{
                margin-top: 5px;
                font-size: 26px;
                background-color: #de2727;
                &:hover{
                    background-color: #eeeeee;
                    color: #de2727;
                }
            }
        }
        .previousGoldenPlayer{
            background-color: #252525;
            .header{

                h1{
                    text-align: center;
                    color: #111111;
                    background-color: #f4cb00;
                }
            }
            .player{
                .player-personal{
                    h3{
                        color: #eeeeee;
                    }
                    img{
                        background-color: #17171769;
                    }
                }
                
            }
            .background{
                background-color: #1b1b1b98;
               
                
               
            }
            
            .previousPlayerButton{
              
                background-color: #444444;
                color: #ffc400;
                font-size: 30px;
               
                font-weight: 600;
                &:hover{
                    background-color: #ffc400;
                    color: #171717;
                }
            }


        }
    }
}
@media screen and (max-width : 930px) {
    .goldenPlayercard{
        .playerCard-container{
            .previousGoldenPlayer {
                .player{
                    display: grid !important;
                    grid-template-columns: 30% 25%  25%;
                    .pointsWrapper{
                        display: block;
                        margin: auto;
                        width: 80px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        grid-column: 1 /  4;
                    }
                    .player-personal{
                        justify-content: center;
                    }

                }
                
            }
        
        }
        }
}
@media screen and (max-width:570px) {
    .goldenPlayercard{
        .playerCard-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .previousGoldenPlayer {
                .player{
                    display: grid !important;
                    grid-template-columns: 25% 25% 25%  25%;
                    .pointsWrapper{
                        grid-column:auto;
                        margin: auto;
                        width: 60px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                    .player-personal{
                        justify-content: center;
                    }
    
                }
                
            }
            
            button{
                margin-top: 5px;
                font-size: 26px; 
            }
        }
        

        .content{
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            
    
            .addicon{
                width: 170px ;
                height: 200px;
                padding:5px;
                text-align: center;
                border-radius: 5px;
                background-color: #dddddd;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                cursor: pointer;
                svg{
                    font-size: 65px;
                    margin-bottom: 10px;
                }
                h2{
                    font-size: 30px;
                }
                &:hover{
                    background-color: #bbbbbb;
                    color: #272727;
    
                }
    
            }
        }
    
        &.dark{
            .addicon{
                background-color: #272727;
                color: #ffffff;
                border: 3px solid #ffc400;
               
                &:hover{
                    background-color: #ffc400;
                    color: #171717;
                }
    
            }
            .palyerCard{
                button{
                    margin-top: 5px;
                    font-size: 26px;
                    background-color: #991818;
                    &:hover{
                        background-color: #171717;
                        color: #991818;
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width : 360px ) {
    .goldenPlayercard{
        width: 95% !important;
        .playerCard-container{
            width: 100%;
            .palyerCard{
                width: 70% !important ;

                .imgBackground{
                    img{
                        width: 65px;
                        height: 65px;
                    }
                }
                .playerDetails{
                    .details{
                        color: #ffffff;
                        font-size: 24px;
                        &.name{
                            color: #111111;
                            font-size: 30px;
                        }
                    }
                }
            }
            button{
                margin-top: 5px;
                font-size: 26px; 
            }
            .previousGoldenPlayer{
                border-radius: 10px;
                margin: 50px auto 0;
                width: 100%;
                
                background-color: #b7b7b7;
                .header{
    
                    h1{
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        padding: 5px;
                        background-color: #f4cb00;
                        font-size: 40px;
                    }
                }
                .player{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    .player-personal{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        h3{
                            color: #272727;
                            width: 70px;
                            text-align: center;
                            margin-top: 5px;
                            font-size: 18px;
                          
                        }
                        img{
                            width: 60px;
                            height: 60px;
                           
                            &.country{
                                width: 45px;
                                height: 30px;
                                
                            }
                        }
                    }
                    .detail{
                        background-color: #373737;
                        border-radius: 20%;
                        padding: 5px;
                        font-size: 20px;
                        color: #ffffff;
                        .points{
                            font-size: 40px;
                            color: #ffc400;
                        }
    
                    }
                }
                .background{
                    background-color: #99999996;
                    
                    
                    .playerMatchPoints-container{
                        border: 2px solid #171717;
                        padding: 0;
                        border-radius: 0;
                        width: 100%;
                        .table-header-wrapper,.detail-player{
                            border-radius: 0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        .detail-player{
                            padding: 5px ;
                            .flex-img{
                                margin: 2px 0;
                            }
                        }
                        
    
                    }
                }
                .previousPlayerButton{
                    background-color: #555555;
                    font-size: 30px;
                    border-radius: 50%;
                    font-weight: 600;
                    svg{
                        width: 50px;
                        height: 50px;
                    }
                    &:hover{
                        background-color: #272727;
                        color: #ffc400;
                    }
                }
    
            }
            
        }

        .content{
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            
    
            .addicon{
                width: 170px ;
                height: 200px;
                padding:5px;
                text-align: center;
                border-radius: 5px;
                background-color: #dddddd;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                cursor: pointer;
                svg{
                    font-size: 65px;
                    margin-bottom: 10px;
                }
                h2{
                    font-size: 30px;
                }
                &:hover{
                    background-color: #bbbbbb;
                    color: #272727;
    
                }
    
            }
        }
        
    
        &.dark{
            .addicon{
                background-color: #272727;
                color: #ffffff;
                border: 3px solid #ffc400;
               
                &:hover{
                    background-color: #ffc400;
                    color: #171717;
                }
    
            }
            .playerCard-container{
    
                button{
                    margin-top: 5px;
                    font-size: 26px;
                    background-color: #de2727;
                    &:hover{
                        background-color: #eeeeee;
                        color: #de2727;
                    }
                }
            }
            .previousGoldenPlayer{
                background-color: #252525;
                .header{
    
                    h1{
                        text-align: center;
                        color: #111111;
                        background-color: #f4cb00;
                    }
                }
                .player{
                    
                    .player-personal{
                        h3{
                            color: #eeeeee;
                        }
                        img{
                            background-color: #17171769;
                        }
                    }
                    
                }
                .background{
                    background-color: #1b1b1b98;
                    
                   
                }
                
                .previousPlayerButton{
                   
                    font-size: 30px;
                   
                    font-weight: 600;
                    &:hover{
                        background-color: #ffc400;
                        color: #171717;
                    }
                }
    
    
            }
        }
    }
}
@keyframes slideDown {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}