@import '../../.mainStyle.scss';

.myexpects{
    height: fit-content;

    .headlineWrapper{
        padding: 20px 0 ;
        .headline{
            color: $gold;
            font-size: 60px;
            text-align: center;
            font-weight: 600;
        }
    }
    .expectsContainer{
        padding: 10px;
        background: linear-gradient(180deg, #a1a1a1 0%, #ffffff 100%);
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4,25%);
        
    }

    /* for the parent if it dark mode*/
    &.dark{
        background-color: #373737;
        .headlineWrapper{
            padding: 20px 0 ;  
        }
        .expectsContainer{
            background: linear-gradient(180deg, #272727 0%, #313131 100%);

        }

}
}