.createTeamform{  
    .invitation{
        color :#111111; 
        margin: 10px 0;
    }
}

.dark{
    .invitation{
        color :#fee504; 
      
    }
}
.code-Wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    border-radius: 10px;
    height: 40px;
    width: fit-content;
    margin: auto;
    .codeCotenet{
        font-size: 25px;
        background-color: transparent;
        outline: none;
        border: none;
        color: #fff;
        padding: 10px; 
    }
    .copyButton{
        width: 100px !important;
        height: 100%;
        border: none !important;
        font-size: 25px !important;
        padding: 5px !important;
        background-color: #444;
        &:hover{
            background-color: #fee504;
            color: #111111;
            
        }
        &.copied{
            background-color: #fee504;
            color: #111111;
        }

    }
}

@media screen and (max-width : 479px) {
    .createTeamform{
        .invitation{
            margin: 5px 0;
        }
    }
    .code-Wrapper{
        background-color: #222222;
        width: 90%;
        margin: 5px auto;
        overflow: hidden;
        .codeCotenet{
            text-align: center;
            padding: 2px; 
            text-align: center !important;
            font-size: 18px;
        }
        .copyButton{
            font-size: 15px !important;
            padding: 0;
        }
    }
    
}