@import '../../../.mainStyle.scss';

.palyerCard{
    min-width: 150px;
    border-radius: 10px;
    padding: 4px 0;
    margin: 0 4px 5px 0 ;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 2px 3px 87px -6px rgba(0,0,0,0.43);
    -webkit-box-shadow: 2px 3px 87px -6px rgba(0,0,0,0.43);
    -moz-box-shadow: 2px 3px 87px -6px rgba(0,0,0,0.43);
    background: linear-gradient(90deg, #513333 50%, #9d0116 50%);
    border: 4px solid #272727;
    &.dark{
        border: 3px solid #d7d7d7;
    }

    .playerCardInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .imgBackground{
               
            .playerCardImg{
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .playerDetails{
            padding-top: 5px;
            font-size: 30px;
            text-align: center;
            color: #fff;
            width: 100%;
            .PlayerStateSelction{
                width: 100%;
                outline: none;
                margin: 5px auto;
                height: 30px;
                background-color: #171717;
                color: #fff;
                border-radius: 0;
                font-size: 22px;
                text-align: center;
                option{
                    border-radius: 0;
                    font-size: 20px;
                    &:hover{
                        background-color: #9d0116;
                        color: #fff;
                    } 
                    &.goodPoints{
                        color: rgba(0, 163, 0, 0.897);
                    }
                    &.badPoints{
                        color: #db001d;
                    }
                     
                }    
            }
            
        }
        
}
.adminButton{
    margin: 5px auto;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #9d0116;
    border:2px solid #fff;
    width: 90%;
    font-size: 20px;
    &:hover{
        background-color: #fff;
        color: #9d0116;
    }
}
}

@media screen and (max-width:760px) {
    .palyerCard{
        min-width: 130px;
        .playerCardInfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            .playerDetails{
                font-size: 25px;
               
    
            }
            
    }
    } 
}

@media screen and (max-width:390px) {
    .palyerCard{
        width: 70px !important;
        padding: 2px 0;
        margin: 0 2px 2px 0 ;
        margin-right: 5px;
    
        .playerCardInfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .imgBackground{
                   
                .playerCardImg{
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .playerDetails{
                padding-top: 5px;
                font-size: 30px;
                text-align: center;
                color: #fff;
                width: 100%;
    
            }
            
    }
    }
}