.addNews-Container{

    .addNewsTitle{
        margin: 10px auto;
    color: #fff;
    font-size: 45px;
    text-align: center;
    border-bottom: 10px solid rgb(207, 0, 55);
    width: fit-content;
    
}
    form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #272727;
        border-radius: 10px;
        width: 70%;
        margin: auto;
        .input-Container{
            margin: 10px 0;
            .addNewsButton{
                color: #f04;
                width: 200px;
                padding: 10px;
                font-size: 30px;
                border: 2px solid #272727;
                &:hover{
                    color: #ddd;
                    background-color: #f04;
                    border: 2px solid #070707;

                }
                
            }
            
        }
        label{
            display: flex;
            flex-direction: column;
            color: #fff;
            font-size: 25px;
            input{
                width: 450px;
                height : 45px;
                background-color: #212121;
                outline: none;
                border: none;
                padding: 10px;
                color: #ddd;
                border: #fff 2px solid;
                font-size: 30px;
                &:focus{
                    font-size: 20px;
                    border: #f04 2px solid;
                }


            }
            textarea{
                background-color: #212121;
                min-width: 450px;
                max-width: 450px;
                min-height: 40px;
                max-height: 200px;
                outline: none;
                border: none;
                padding: 10px;
                color: #ddd;
                border: #fff 2px solid;
                &:focus{
                    border: #f04 2px solid;
                }
            }
        }
    }
}