@import '../../.mainStyle.scss';

.popMatchFullPage{
    cursor: default;
    .popMatchContainer{
        position: relative;
        max-height: 90vh;
        overflow-y: scroll;
        svg{
            &.info,&.Popicon{
                color: #eeeeee;
                position: sticky;
                top: 0;
                left: 0;
            }
            
        }
        .player-header{
            display: flex;
            align-items: center;
            padding: 20px 20px;
            color: #eeeeee;

            .playerImg{
                img{
                    width: 110px;
                    height: 110px;
                    border-radius: 50%;
                    background-color: #27272764;
                    border:2px solid #eeeeee;
                    padding: 1px;
            }
        }
        .player-personl-details{
            margin-left: 20px;
            color: #ffffff;
            text-align: left;
            .playerName{
                color: $gold;
            }
            h2{
                color: #ffffff;
                margin: 0;
            }
        }
        .player-country{
            display: flex;
            flex-direction: column;
            margin: auto;
            align-items: center;
            
            img{
                width: 80px;
                height: 80px;
                border: 3px solid #eeeeee;
                border-radius: 50%;
                border-top-right-radius: 0;
                border-bottom-left-radius: 0;
                object-fit: cover;
            }
            h2{
                color: #eeeeee;
                margin-top: 5px;

            }
        }
    }
    .player-content-body{
        background-color: #e5e5e5;
        padding: 0px 0px 10px;
        >h1{
            margin-bottom: 10px;
            text-align: center;
            font-size: 40px;
            background:linear-gradient(90deg, #513333 0%, #9d0116 50%) ;
            padding-bottom: 60px;
            height: 120px;
        }
        .statistics-container{
            width: 70% !important ;
            border-radius: 10px;
            background-color: #c1c1c1;
            padding: 10px 0;
            margin: auto;
            position: relative;
            z-index: 4;
            top: -80px;

            .flex{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 10px auto;
                border-bottom: 4px solid #171717;
                .detail{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    h3{
                        margin: 5px 0 ;
                        font-size: 22px;
                        width: 90px;
                        height: 30px;
                        text-align: center;
                    }
                    h1{
                        color: #1a525b ;
                        margin-top: 10px;
                    }
                    img{
                        width: 40px;
                        height: 40px;
                        object-fit: contain;
                    }
                }
                &:last-child{
                    border-bottom: none;
                }
                }
        }
        
    }
    .button-wrapper{
        background-color: #e5e5e5 ;
        padding: 10px;
        button{
            margin: 0 auto;
            background-color: #00bb00;
            padding: 10px ;
            font-size: 25px;
            &:hover{
                background-color: #292929;
                
            }
        }
    }
    .fakeackground{
        background-color: #e5e5e5;
        padding: 10px;
    }
    &.dark{
       
        .player-content-body{
            background-color: #373737;
            .statistics-container{
                width: 80%;
                border-radius: 10px;
                background-color: #272727;
               .detail{
                   h1{
                   color: #ffbf00;
                  }
               }
                margin: auto;
                
            }
        }
        .fakeackground{
            background-color: #373737;
            .playerMatchPoints-container{
               .table-header-wrapper{
                background-color: #171717;
               }
                .detail-player{
                    background-color: #2e2e2e;
                }
            }
        }
        .button-wrapper{
            background-color: #373737;
        }
    }
}
}
@media screen and (max-width : 450px) {

.popMatchFullPage{
    .popMatchContainer{
       
        
       
        .player-header{
            display: flex;
            align-items: center;
            padding: 10px;
            color: #eeeeee;

            .playerImg{
                img{
                    width: 100px;
                    height: 100px;
            }
        }
        .player-personl-details{
            margin-left: 15px;
           
            .playerName{
                color: $gold;
                font-size: 25px;
            }
            h2{
                font-size: 22px;
            }
        }
        .player-country{
            img{
                width: 70px;
                height: 70px;
            }
           
        }
    }
    .player-content-body{
        .statistics-container{
            width: 85% !important;

            .flex{
                 .detail{
                    img{
                        width: 35px;
                        height: 35px;
                    }
                }
               
                }
        }
        
    }
    
    .fakeackground{
        background-color: #e5e5e5;
        padding: 10px;
    }
    
}
}
}