@import '../../.mainStyle.scss';

.TeamComponent-containetr{
    padding:  30px 0  ;
    background-color:transparent ;
    display: flex;

    .teamNavbar{
        margin-left: 30px;
        ul{
            @include shadowMainStyle;
            list-style: none;
            display: flex;
            width: fit-content;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: #b1b1b1;
            a{
                text-decoration: none;
                color: #111;
                li{
                    font-size: 40px;
                    font-weight: 500;
                    padding: 10px 10px;
                   
                    &:hover{
                        background-color: #fee504;
                        border-radius: 10px;
                        color: #111;
                    }
                    &.second{
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        
                    }
                    &.first{
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }
    }
    .TeamComponent{
        padding:  10px ;
        width: 60% ;
        margin: 10px auto; 
        .selected{
            background-color: #fee504;
       
            border-radius: 10px;
            color: #111;
        } 
        .teamContent{
            padding:  0px ;
            border-radius: 20px;
            width: 100%;
            background-color: #c9c9c9; 
            @include shadowMainStyle;
            animation: slideDown 200ms ;
           
        } 
        .teamJoin{
            .options{
                padding: 10px;
                &>button{
                    width: 70%;
                    margin: 10px auto;
                    padding: 5px 10px;
                    font-size: 40px;
                    background-color: rgba(34, 34, 34, 0.871);
                    outline: none;
                    &:hover{
                        background-color: #222;
                        
                    }
                }
                form{
                    padding-top: 10px;
                    input{
                        width: 70%;
                        height: 50px;
                        outline: none;
                        background-color: #373737;
                        font-size: 24px;
                        padding: 10px;
                        color: #eee;
                        border-radius: 10px;
                        &:focus{
                            border: solid #c40027 2px;   
                        }
                    }
                        .cancel{
                            background : #ffffff88;
                            border: 2px solid #c40027 ;
                            color: #c40027 ;
                           
                        }
                        .generateCode{
                            background-color: #ffffff88 ;
                            color: #111;
                            border: 2px solid rgb(0, 186, 0);
                            color: rgb(0, 186, 0);
                            
                        }

                    .button-Wrapper{
                        display: flex;
                        justify-content: center;
                        width: 70%;
                        margin: 10px auto;
                        button{
                            width: 40%;
                            margin: 0 10px 0 0;
                            margin: 0 2px ;
                            font-size: 30px;
                            padding: 5px 10px;
                        }

                    }
                    .invalid-msg{
                        width: fit-content;
                        background-color: #ff466b;
                        border-left: 10px solid #d5002b;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 22px;
                        margin: 5px auto;
                        padding: 5px 10px;
                        &.green{
                            background-color: #00de30e2;
                            border-left: 10px solid #22fc00;
                            
                        }
                    }
                   
                }
            }
        }
    }
    .teamStanding{
        margin: auto;
        a{
            text-decoration: none
        }
        @include shadowMainStyle;
        .team{
            padding: 5px;
            color: #ffffff;
            background-color: #fee504;
        }
        .standing-header{
            &.teams{
                background-color: #eeeeee ;
                border-bottom: 4px solid #111111;
            }
        }
        .row{
            &.teams:not(.standing-header){
                height : 40px;
                background-color: #eeeeee ;
                color: #171717;
                font-size: 20px;
                &:hover{
                    background-color: #fee504 ;
                }
            }
        }
        .standing-container{
            .user-row{
                .row{

                }
            }
            &:last-child{
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            
        }
    }

    /* dark mode*/

    &.dark{
        .teamNavbar{
            ul{
                background-color: #222;
                a{
                    color: #eee;
                }
            }
        }
        .teamContent{
            
            background: linear-gradient(-135deg, rgb(62, 62, 62) 0%, #706d57cc);
            
            .teamJoin{
                .options{
                    &>button{
                        width: 70%;
                        margin: 10px auto;
                        padding: 5px 10px;
                        font-size: 40px;
                        background : rgba(15, 15, 15, 0.701);
                        border: 2px solid #fee504;
                        outline: none;
                        &:hover{
                            background-color: #fee504;
                            
                        }
                    }
                    .selected{
                        color: #fff;
                    }
                        form{
                            input{  
                                border: solid #eee 2px;
                                background-color: #171717;
                                font-size: 24px;
                                color: #fee504;
                                &:focus{
                                    border: solid #fee504 3px;   
                                }
                            }
                            button{
                                width: 49%;
                                text-align: center;
                                border: none;
                                svg{
                                    margin-left: 5px;
                                }
                            }
                            .cancel{
                                background : #171717;
                                border: 2px solid #c40027 ;
                                svg{
                                    color : #c40027;
                                    
                                }
                            }
                            .generateCode{
                                background-color: #171717 ;
                                border: 2px solid rgb(0, 186, 0);
                                svg{ 
                                    color: rgb(0, 186, 0);
                                }
                            }
                            .button-Wrapper{
                                margin: 10px auto;
                                &>button{
                                    margin: 0 2px ;
                                    font-size: 30px;
                                    padding: 5px 10px;
                                }
                            }
                            }

                        
                }

            }
        }
        .teamStanding{
            .team{
                color: #272727;
                background-color: #fee504;
            }
            .standing-header{
                &.teams{
                    background-color: #171717 !important;
                    border-bottom: 4px solid #eeeeee;
                }
            }
            .row{
                &.teams:not(.standing-header){
                    background-color: #272727 ;
                    color: #ffffff;
                    &.highligetd{
                        background-color: #fee504b2;
                    }
                    &:hover{
                        background-color: #fee504b2;
                    }
                }
            }
        }      

    }


}
@keyframes appear {
    from{
        height: 0;
    }
    to{
        height: fit-content;
    }
}
@media screen and (max-width : 750px) {
    .TeamComponent-containetr{
        display: flex;
        flex-direction: column;
        .TeamComponent{
            width: 80%;
        }
    }
    .teamStanding{
        width: 80%;
    }
    
}
@media screen and(max-width : 680px){
    
.TeamComponent-containetr{
    padding:  20px 0  ;
  
    .teamNavbar{
        margin-left: 20px;
        ul{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            a{
                li{
                    font-size: 30px;
                    padding: 5px;
                    &:hover{
                        border-radius: 5px;
                    }
                   
                }
            }
        }
    }
    .TeamComponent{
        padding:  10px ;
        margin: 10px auto; 
        .selected{
            background-color: #fee504;
            border-radius: 10px;
            color: #111;
        } 
        .teamContent{
            padding:  0px ;
            border-radius: 10px;
        } 
        .teamJoin{
            .options{
                padding: 5px;
                &>button{
                    width: 80%;
                    padding: 5px;
                    font-size: 35px;
                }
                form{
                    
                        .cancel{
                            background : #ffffff88;
                            border: 2px solid #c40027 ;
                            color: #c40027 ;
                           
                        }
                        .generateCode{
                            background-color: #ffffff88 ;
                            color: #111;
                            border: 2px solid rgb(0, 186, 0);
                            color: rgb(0, 186, 0);
                            
                        }

                    .button-Wrapper{
                        display: flex;
                        justify-content: center;
                        width: 70%;
                        margin: 10px auto;
                        button{
                            width: fit-content;
                            font-size: 24px;
                            padding: 2px;
                        }

                    }
                   
                }
            }
        }
    }
}
}

@media screen and(max-width : 479px){
    
    .TeamComponent-containetr{
        padding:  10px 0  ;
        form{
            #teamName{
                width: 90%;
                border: none;
                border-radius: 5px;
                &:focus{
                    border: 2px solid #d5002b;
                }
            }
        }
        .teamNavbar{
            margin-left: 10px;
            ul{
                a{
                    li{
                        font-size: 24px;  
                    }
                }
            }
        }
        .TeamComponent{
            padding:  10px ;
            width: 90% ;
          
            .selected{
                border-radius: 5px;
            } 
            .teamContent{
                border-radius: 5px;
            } 
            .teamJoin{
                .options{
                    padding: 5px;
                    &>button{
                        width: 90% !important;
                        font-size: 28px !important;
                        &.generateCode{
                            
                            font-size: 20px !important;
                        }
                    }
                    
                }
            }
        }
    }
    }
@keyframes slideDown {
    from{
        height: 0;
    }to{
        height: fit-content;
    }
}