@import '../../.mainStyle.scss';
.matchCard{
    width: 250px;
    height: fit-content;
    border: 2px solid rgb(193, 0, 39);
    border-radius: 10px;
    margin: 5px auto ;
    background-color: #eee;
    padding: 5px;  
    
    &.dark{
        background-color: #171717;
        color: #eee;
        transition: 150ms;
        
    }              
    .matchcardHeader{
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: space-around;
        font-size: 30px;
        font-weight: 600;
        color: inherit;
        .matchCardCountry{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .countryLabel{
            font-size:24px ;
            font-weight: 600;
            color: inherit;
            margin-top: 5px;
        }
        .matchCardCountryImg{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }
    }
    .matchCardCounter{
        text-align: center;
        display: flex;
        flex-direction: column;
        .timeLeftLabel{
            font-size: 24px;
            color: $gold;
            font-weight: 600;
        }
    }
    .matchCardStart{
        display: flex;
        justify-content: end;
        margin-top: 10px;
        .matchCardbutton{
           
            color:  rgb(193, 0, 39);
            border: 2px solid rgb(193, 0, 39);
            border-radius: 5px;
            cursor: pointer;
            width: 100px;
            height: 40px;
            padding: 20px ;
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            align-items: center;
            &:hover{
                color:#fff;
                background-color:rgb(193, 0, 39);
            }
        }


    }
    @media screen and (max-width:580px) {
        .matchCardCountryImg{
            width: 30px;
            height: 30px;
        }
        
    }
}