@import '../../.mainStyle.scss';
.matchCard{
    width: 90%;
    height: fit-content;
    border-radius: 10px;
    margin: 5px auto ;
    background-color: #eee;
    padding-bottom: 10px;
    @include shadowMainStyle;
    
              
    .matchcardHeader{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(90deg, rgb(81, 51, 51) 0%, rgb(157, 1, 22) 50%);
        font-size: 30px;
        font-weight: 600;
        color: #fff;
         border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        padding: 5px;
        .matchCardCountry{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        
        .matchCardCountryImg{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid #222;
            object-fit: cover;
            cursor: pointer;
            
        }
    }
    .matchCardCounter{
        margin-top: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .timeLeftLabel{
            font-size: 24px;
            color: $gold;
            font-weight: 600;
        }
        .timeLeft{
            font-size: 20px;
            font-weight: 500;
            color: #222;
        }
    }
    &.dark{
        background-color: #272727;
        color: #eee;
        transition: 150ms;
        
        .timeLeft{
            color: #fff;
        }
        
    }    
    .matchCardStart{
        display: flex;
        justify-content: end;
        margin-top: 10px;
        padding: 0 5px;
        .matchCardbutton{
           
            color:  rgb(193, 0, 39);
            border: 2px solid rgb(193, 0, 39);
            border-radius: 10px;
            cursor: pointer;
            width: 100px;
            height: 40px;
            padding: 20px ;
            font-size: 34px;
            font-weight: 600;
            text-align: center;
            align-items: center;
            &:hover{
                color:#fff;
                background-color:rgb(193, 0, 39);
            }
        }


    }
    .icon{
        svg{
            width: 50px;
            height: 50px;
        }
    }
    
}
@media screen and (max-width:790px) {
    .matchCardCountryImg{
        width: 30px;
        height: 30px;
    }
    
}

@media screen and (max-width:580px) {
    .matchCardCountryImg{
        width: 30px;
        height: 30px;
    }
    
} 