@import '../../../.mainStyle.scss';

.sidenavbar{
    background-color: #222222;
    
    width: 60px;
    flex: 1;
    padding: 10px 1px;
    color: #ddd;
    position: relative;
    .icons{
        width:50px ;
        height: 50px;
    }
    .sidenavbaritems{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0 5px;
        &:hover{
            background-color: $betiured;
            color: #fff;
        }
        &.account{
            margin-top: 10px;
        }
        .labels{
            font-size: 0.9;
            font-weight: normal;
        }
        
    }
    .signout{
       
        margin-top: 80px;
    }
    a{
        text-decoration: none;
        color: #ddd;
    }
}
.miditems{
    margin-top: 80px;
    .sidenavbaritems{
        padding: 5px 0 ;
    }
}
.selectedsidebar{
    background-color: $betiured;
    animation: pop 100ms;
}
@keyframes pop {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

