@import '../.mainStyle.scss';

.popMatchFullPage{
    background-color: rgba(0, 0, 0, 0.612);
    position: fixed;
    z-index:990 ;
    top: 0;
    bottom: 0;
    right: 0;
    left :0;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.popMatchContainer{
    outline: none;
    width: 60%;
    height: 90vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #666;
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #222; 
        border-radius: 5px;
        margin-top: 5px;
      }

    background-color: #ddd ;
    border-radius: 10px;
    position: fixed;
    border-bottom: 2px solid #000;
    z-index: 999;
    
    animation: popup 150ms  linear;
    
    .popMatchWinner{
        text-align: center;
        .winnerTitle{
            font-size: 40px;
            font-weight: 700px;
            display: block;
        }
    }
    
    .headerPopUp{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        padding: 5px;
        border: none;
        background:linear-gradient(90deg, #513333 0%, #9d0116 50%);
        .winnerTitle{
            color: #eee;
            font-size: 42px;
            font-weight: 700;
        }
    .matchcardHeader{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .popMatchCardCountryImg{
            width: 60px;
            height:60px;
            border-radius: 50%;
            border : 2px solid $gold ;
            
            &.flex{
                width: fit-content;
                height: fit-content;
                border-radius: 0;
                border-radius: 5px;
            }
            object-fit: cover;
            cursor: pointer; 
        }
    }
}
.Popicon{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

form{
    .expectResult{
        margin-top: 10px;
        font-size: 40px;
        font-weight: 600;
        color: #444;
        
    }
    svg{
        width: 45px;
        height:45px;
        cursor: pointer;
        
    }
    .inputcontainer{
        display: flex;
        justify-content: space-evenly;
        .result{
            width: 60px;
            height: 50px;
            margin: 10px 0; 
            border-radius: 5px;
            background-color: #555;
            box-shadow:2px 2px 0 #83838387;
            border: none; 
            color: #eee;
            font-size: 36px;
            font-weight: 600;
            text-align: center;

            &:focus{
                border: 2px solid $qatar;
                outline: none;
            }
            &::-webkit-outer-spin-button,// this to remove the arrows
            &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
            &[type=number] {
              -moz-appearance: textfield;
            }

        }
    }
    input[type="radio"]{
       
        width: 25px;
        height: 25px;
        accent-color: $betiured;
    }

}

.matchCardCountry{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img{
        border: 10px solid $gold;
       }
    
}

.countryLabel{
    margin: 5px 0 ;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}

.formContainerPopup{
    text-align: center;
    padding: 10px;
    
}
    &.dark{
        
        color: #eee;
        .formContainerPopup{
            background-color: #262626;
            .playersContainer{
                background-color: #222;
                border-radius: 5px;
            }
        }
      
    .expectResult{
        color: #fff;
    }
    
    .buttonsWrapper{
        button{
            background-color: #fff;
            color: rgb(255, 204, 0);
            &.save{
                background:linear-gradient(90deg, #513333 0%, #9d0116 50%);
                color: #eee;
                &:hover{
                    background:linear-gradient(90deg, #ffffff 0%, #ffffff 50%);
                    color: rgb(193, 0, 58) ; 
                }
                
            }
        }
    }
         
    }
    .matchCardResult{
        height: 100px;
        background-color: #000;
    }
    .matchCardPlayers{
        .playersContainer{
            padding: 5px;
            background-color: #ddd;
        }
        

    }
    .popFormMatch{
        
            .popFormLabels{
                font-size: 18px;
                margin-right: 5px;
            }
            
        }
    }
    .playersContainer{
        display: flex;
        overflow-y: hidden;
        position: relative;
        
        
    }
    .warnMsg,.succsess{
        width: fit-content;
        height: 35px;
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 20px;
        margin: 5px auto ;
        animation: popup 200ms;
    }
    .warnMsg{
        background-color: #df3b51;
        border-left: #9d0116 5px solid;

    }
    .succsess{
        background-color: rgb(0, 151, 0);
        border-left: rgb(0, 123, 0) solid 10px;
    }
    .buttonsWrapper{
        display: flex;
        justify-content:center;
        margin-top: 10px;
        .matchCardButton{
            width: 120px;
            height: 45px;
            border-radius: 5px;
            padding: 5px;
            font-weight: 600;
            border: none;
            margin-left: 5px;
            font-size: 20px;
            cursor: pointer;
            font-size: 30px;

            &:hover{
                transform: scale(1.1);
                
            }
            &.save{
                background-color: rgb(193, 0, 58);
                color: #eee;
                &:hover{
                    background-color: rgb(255, 204, 0);
                    color: #fff ; 
                }
                
            }
            
        } 
    }
    @media screen and (max-width:960px) {
        .popMatchContainer{
            width:70%;

        }
    }
    @media screen and (max-width:860px) {
        .popMatchContainer{
            width:80%;

        }
    }
    @media screen and (max-width:760px) {
        .popMatchContainer{
            width:90%;
        }
    }
    @media screen and (max-width:480px) {    
        .popMatchContainer{
            width: 90%;
            height: 70vh;
            .popMatchWinner{
                text-align: center;
                .winnerTitle{
                    font-size: 35px !important;  
                }
            }
            
            .headerPopUp{ 
                .winnerTitle{
                    color: #eee;
                    font-size: 42px;
                    
                }
            
        }
        
        }
        
        .matchCardCountry{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            img{
                border: 10px solid $gold;
               }
            
        
        
        .countryLabel{
            margin: 5px 0 ;
            font-size: 24px !important;
            
        }
            .matchCardResult{
                height: 100px;
                background-color: #000;
            }
            .matchCardPlayers{
                .playersContainer{
                    padding: 5px;
                    background-color: #ddd;
                }
                
        
            }
            .popFormMatch{
                
                    .popFormLabels{
                        font-size: 18px;
                        margin-right: 5px;
                    }
                    
                }
            }
            .playersContainer{
                display: flex;
                overflow-y: hidden;
                position: relative;
                
                
            }
            .warnMsg,.succsess{
                width: fit-content;
                height: 35px;
                color: #ffffff;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 20px;
                margin: 5px auto ;
                animation: popup 200ms;
            }
            .warnMsg{
                background-color: #df3b51;
                border-left: #9d0116 5px solid;
        
            }
            .succsess{
                background-color: rgb(0, 151, 0);
                border-left: rgb(0, 123, 0) solid 10px;
            }
            .buttonsWrapper{
                display: flex;
                justify-content:center;
                margin-top: 10px;
                .matchCardButton{
                    width: 120px;
                    height: 45px;
                    border-radius: 5px;
                    padding: 5px;
                    font-weight: 600;
                    border: none;
                    margin-left: 5px;
                    font-size: 20px;
                    cursor: pointer;
                    font-size: 30px;
        
                    &:hover{
                        transform: scale(1.1);
                        
                    }
                    &.save{
                        background-color: rgb(193, 0, 58);
                        color: #eee;
                        &:hover{
                            background-color: rgb(255, 204, 0);
                            color: #fff ; 
                        }
                        
                    }
                    
                } 
            }
        
    }
    .playersContainer::-webkit-scrollbar {
        width: 5px;
        height: 10px;
      }
      .playersContainer::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #666;
      }
       
      /* Handle */
      .playersContainer::-webkit-scrollbar-thumb {
        background: #333; 
        border-radius: 5px;
        margin-top: 5px;
      }

@keyframes popup {
    from{
        width: 0;
        height: 0;
        opacity: 0;
        
    }to{    
    }
}
